{% load customuser_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div style="font-family: 'Lato', sans-serif; color:#575757; font-size:16px; font-weight:400; line-height:25px">
{% block message %}
    {{ message|add_domain_name_to_img_src|safe }}
    </div>
    <div style="margin-top:40px; font-family: 'Lato', sans-serif; text-align:left">
        <p style="font-weight:700; font-size:23px; font-weight:700; color:#575757; margin-bottom:0px; ">Marta Mularska</p>
        <p style="font-weight:400; font-size:16px; font-weight:400; color:#979797; margin-top:5px; ">M: +48 608 683 570</p>
        <hr style="width:220px; border-top: 1px solid #DEDEDE; display:inline-block; border-left:0px; margin-bottom:20px">
        <img src="https://sciezkidozdrowia.pl{% static 'gfx/sciezki_zdrowia_logo.png' %}" alt="Ścieżki Zdrowia - logo" style="display:block" />
        <p style="font-weight:700; font-size:23px; font-weight:700; color:#575757; margin-bottom:0px; display:block">Ścieżki Zdrowia Sp. z o.o.</p>
        <p style="font-weight:400; font-size:16px; font-weight:400; color:#979797; margin-top:5px; line-height:22px;">ul. B. Limanowskiego 5/4<br>33-100 Tarnów</p>
        <a href="https://sciezkidozdrowia.pl{% url 'newsletter:newsletter_deactivate' uidb=uid token=token %}" style="font-weight:400; font-size:16px; font-weight:400; color:#979797; margin-top:5px; line-height:22px;">Zrezygnuj z newslettera</p>
    </div>
{% endblock %}
</body>
</html>
