{% extends "admin/base_site.html" %}

{% load static %}

{% block extrahead %}

	<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
<div>
    <p>Nazwa kampanii</p>
    <input size="40" name="newsletter_name" value="" type="text" id="campaign_name" required>
</div>
    <br/>

<div class="actions">
    <label>
        <p>Wiadomość</p>
        <select name="message_id" id="load_message">
          <option value="" selected="">---------</option>
            {% for message in message_objects %}
                <option value="{{ message.id }}">{{ message.title }}</option>
            {% endfor %}
        </select>
    </label>
</div>

<div>
    <label>
        <p>Wiadomość</p>
        {{ block.super }}
        <textarea name="message_obj" id="message_obj"></textarea>
        <script>
                CKEDITOR.replace( 'message_obj' );
        </script>
    </label>
</div>
    <br/>
<p> Lista użytkowników </p>
<ul>
  {% for user in users %}
    <li>
        <p>{{ user }}</p>
        <input type="hidden" id="user" name="_selected_action" value="{{ user.pk }}" />
    </li>

  {% endfor %}
</ul>
  <input type="hidden" name="action" value="send_newsletter" />
  <input type="submit" name="send" value="Wyślij newsletter"/>
</form>

<script>
let element = document.getElementById("load_message");
element.addEventListener("change", askForLoadMessage);
let previous_value = element.value
let mytextarea = document.getElementById('cke_1')

function askForLoadMessage() {
  let question = confirm('Czy na pewno chcesz załadować wiadomość?');
  if (question === true) {
      console.log(window.location.href)
      let url = window.location.origin + '/ajax/message_details/' + element.value
      previous_value = element.value
      $.ajax({
          method: 'get',
          url: url,
          data: {},
          success: function (response) {
              CKEDITOR.instances.message_obj.setData(response)
          }


      })
} else {
      element.value = previous_value
}
  if (question === true && element.value === "") {
      CKEDITOR.instances.message_obj.setData('')
  }
}
</script>

{% endblock %}


