{% extends 'base.html' %}

{% block title %}Sukces - {{ block.super }}{% endblock %}

{% block content %}

<div class="container justify-content-center" align="center" style="margin-top:150px">
    <h2>Token aktywacyjny jest niepoprawny</h2>
    <p>Upewnij się że dobrze skopiowałeś/aś link z wiadomości email.</p>
</div>
{% endblock %}