{% extends 'base.html' %}

{% block title %}Zaloguj - {{ block.super }}{% endblock %}

{% block content %}

    {{ invited_by }}

    <div class="container" style="margin-top:8em;">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" >
                <h2 class="text-center">Zaloguj</h2>

            <form method="post" class="form-horizontal">
                {% csrf_token %}
                {% if form.errors %}
                <br>
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}

                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
    {% endif %}




    <div class="form-group">
        <label class="control-label col-sm-2" for="id_username">Email:</label>
        <div class="col-sm-10">
        <input type="text" name="username" class="form-control" autofocus maxlength="254" required id="id_username" />
    </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="id_password">Hasło:</label>
        <div class="col-sm-10">
        <input type="password" name="password" class="form-control" required id="id_password" />
    </div>
    </div>


    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Zaloguj się</button>
    </div>
    </div>
                </form>
            <p><a href="{% url 'password_reset' %}">Zapomniałem hasła</a></p>
            </div>
        </div>
    </div>



{% endblock %}