{% extends 'base.html' %}

{% block title %}Zmień hasło - {{ block.super }}{% endblock %}

{% block content %}



<div class="container" style="margin-top:7em;">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" >
            <h2>Zmiana hasła</h2>
            <form method="post">
            {% csrf_token %}
<!-- ERRORS -->


                {% if form.errors %}
            <br>
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {% endif %}

<!-------ERRORS END -->


<!-------FORM ----->

            <div class="form-group">
                <label class="control-label col-sm-8" for="id_old_password">Stare hasło:</label>
                <div class="col-sm-10">
                <input type="password" name="old_password" class="form-control" autofocus maxlength="254" required id="id_old_password" />
            </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-8" for="id_new_password1">Nowe hasło:</label>
                <div class="col-sm-10">
                <input type="password" name="new_password1" class="form-control" autofocus maxlength="254" required id="id_new_password1" />
            </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-8" for="id_new_password2">Nowe hasło (powtórz):</label>
                <div class="col-sm-10">
                <input type="password" name="new_password2" class="form-control" autofocus maxlength="254" required id="id_new_password2" />
            </div>
            </div>

            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Zaloguj</button>
            </div>
            </div>
            </form>
        </div>
    </div>
</div>


<!---------FORM END ----->
{% endblock %}