{% extends 'base.html' %}

{% block head_title %}

    Zakończono reset hasła - {{ block.super }}

{% endblock %}

{% block content %}
<div class="container" style="margin-top:10em;">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" >


  <p>
    Wysłaliśmy Ci e-mail z instrukcją, jak zrestartować hasło. Jeżeli istnieje konto, z podanym adresem
    powinnien wkrótce dotrzeć.
  </p>
  <p>
    Jeżeli nie dostałeś e-maila, upewnij się, że podałeś(-aś) prawidłowe hasło, i sprawdź "spam" w skrzynce
    e-mail.
  </p>

        </div>
    </div>
</div>
{% endblock %}
