{% extends 'base.html' %}

{% block head_title %}

    Zmień hasło - {{ block.super }}

{% endblock %}

{% block content %}
<div class="container" style="margin-top:150px">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" >
            <h2>Zresetuj hasło</h2>


    <form method="post" class="form-horizontal">
    {% csrf_token %}
    {% if form.errors %}
    <br>
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}

    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}


    <div class="form-group">
        <label class="control-label col-sm-8" for="id_email">Adres Email:</label>
        <div class="col-sm-10">
        <input type="email" name="email" class="form-control" autofocus maxlength="254" required id="id_email">
    </div>
    </div>


    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Zresetuj hasło</button>
    </div>
    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
