{% extends 'base.html' %}

{% block head_title %}Hasło zmienione - {{ block.super }}{% endblock %}

{% block content %}

<div class="container" style="margin-top:10em;">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" >


  <p>
    Twoje hasło zostało zmienione. <a href="{% url 'login' %}">Zaloguj się</a>
  </p>


        </div>
    </div>
</div>
{% endblock %}