{% extends 'base.html' %}

{% block head_title %}
    Potwierdź hasło - {{ block.super }}

{% endblock %}

{% block content %}
  {% if validlink %}

    <div class="container" style="margin-top:7em;">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" >
            <form method="post" class="form-horizontal">
            <h2 class="text-center">Potwierdź hasło</h2>
            {% csrf_token %}


                <div class="form-group">
                Nowe hasło
                <div class="col-sm-10">
                <input type="password" name="new_password1" id="id_new_password1" required />
                </div>
                </div>

                <div class="form-group">
                Potwierdź hasło
                <div class="col-sm-10">
                <input type="password" name="new_password2" id="id_new_password2" required />
                </div>



            <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Zresetuj hasło</button>
        </div>
        </div>

            </form>
            </div>
        </div>
    </div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}



{% endblock %}