{% extends 'base.html' %}

{% load widget_tweaks %}

{% block head_title %}Zarejestruj się - {{ block.super }}{% endblock %}
{% block extra_style %}
    <style>
    td, table {
        border: none !important;
    }
    </style>
{% endblock %}


{% block content %}

<div class="container justify-content-center" align="center" style="margin-top:150px">
            <h2>Zarejestruj</h2>

    <form method="post" class="form-horizontal">
    <div class="form-group col-lg-8 col-md-10 col-sm-12">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Wystąpiły błędy podczas rejestracji.</strong>
        </div>
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        {% endif %}

        {% include 'forms/includes/new_form.html' %}


            <tr><td colspan="2"></td></tr>



        <label><input type="checkbox" required value="">Potwierdzam zapoznanie się z <a href="{% url 'privacy-policy' %}" style="color: #58a314;">polityką prywatności</a></label><br>
        <label><input type="checkbox" required value="">Potwierdzam zapoznanie się z <a href="{% url 'terms-of-use' %}" style="color: #58a314;">regulaminem</a></label>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Zarejestruj</button>
        </div>
    </div>
    </form>
</div>

{% endblock %}