{% extends 'base.html' %}

{% block title %}Sukces - {{ block.super }}{% endblock %}

{% block content %}

<div class="container justify-content-center" align="center" style="margin-top:150px">
    <h2>Rejestracja zakończona sukcesem!</h2>
    <p>Wkrótce dostaniesz email z linkiem aktywacyjnym.</p>
</div>
{% endblock %}