        <h1>{{ form.title }}</h1>
        {% if form.intro %}
        <p>{{ form.intro }}</p>
        {% endif %}
        {{ form_for_form.media }}
        <form action="{{ form.get_absolute_url }}" method="post"
            {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}
            {% for field in form_for_form %}
            <div class="answers_block">
                {{ field.errors }}
                <div class="question">{{ field.label_tag }}</div>
                <div class="answer">{{ field }}</div>
            </div>
            <hr class="survey-divider">
        	{% endfor %}
            <div style="clear:left;">&nbsp;</div>
            <button class="btn btn-666 hvr-fade" type="submit">{{ form.button_text }}</button>
            <button class="btn btn-666 hvr-fade" type="submit" name="save_to_draft">ZAPISZ SZABLON</button>
        </form>
