{% extends 'base.html %' %}

{% block content %}
    <div class="container text-center" style="margin-top: 100px">
    <p>Zapytaj o produkt dnia: {{ product_name }}</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-666 hvr-fade" type="submit">Wyślij</button>
        </form>
    </div>



    <form role="form" action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
            {{ field.label }}
            <div>
            {{ field }}
            </div>
            </div>
        {% endfor %}
        <button class="btn btn-666 hvr-fade" type="submit">Wyślij</button>
    </form>
{% endblock %}