{% extends 'base.html' %}

{% block head_title %}{{ supplement.name }} - {{ block.super }}{% endblock %}

{% block meta_tags %}
    {{ block.super }}
    <meta property="og:title" content="{{ article.name }}" />
    <meta property="og:description" content="{{ article.description|truncatewords:6|striptags|safe }}" />
    <meta property="og:image" content="http://sciezkidozdrowia.pl{{ article.image_url }}" />
{% endblock %}

{% block content %}



    <!-- produkty start --->

    <div class="container-fluid" style="margin-top:150px; margin-bottom:200px; height:100%; " id="offer">
    	<div class="row">
    		<div class="col-md-2 text-md-right text-center">
				<img class="img-fluid  wow fadeIn" src="{{ supplement.image_url }}"
				 width="220" height="220"><br>

					 {% if supplement.opinions.all %}
						<h3 class="text-center" style="color: green;">Opinie</h3>
						{% for opinion in supplement.opinions.all  %}
							<span>
								<a href="{{ opinion.get_absolute_url }}">{{ opinion.name }}</a><br>
								{{ opinion.description|striptags|safe|truncatewords:10 }}
								<a href="{{ opinion.get_absolute_url }}" class="read-more justify-content-right">Czytaj dalej</a>
							</span>
							<footer class="blockquote-footer">
								{{ opinion.author }}
							</footer>
							<br><br>
						{% endfor %}
					{% endif %}

					{% if supplement.related_articles.all %}
					<h3 class="text-center" style="color: green;">Artykuły</h3>
						{% for related_article in supplement.related_articles.all %}
							<span>
								<a href="{{ related_article.get_absolute_url }}">{{ related_article.name }}</a><br>
								{{ related_article.description|striptags|safe|truncatewords:10 }}
							</span>
							<br><br>
						{% endfor %}
					{% endif %}
    		</div>

    		<div class="col-md-8 text-md-left text-center">
    				<h1 class=" wow fadeIn">{{ supplement.name }}</h1>
    				<h3 class=" wow fadeIn">{{ suplement.portion }}</h3>
    				<span class=" wow fadeIn">{{ supplement.description|safe }}</span>
                    {% if supplement.contains|length > 0 %}
                    <span class=" wow fadeIn">{{ supplement.contains }}</span>
                    {% endif %}
    				<a href="{% url 'supplements:list' %}" class="btn  btn-666 hvr-fade  wow fadeIn" style="padding:15px 25px 15px 25px; margin-top:20px" >Powrót</a>
    				<a class="btn  btn-666 hvr-fade  wow fadeIn" onclick="subscriptionPopup()" style="color:#FFFFFF; padding:15px 25px 15px 25px; margin-top:20px" >Zapytaj o produkt</a>
			
				</div>
			
			<div class="col-md-2 text-md-left text-center">
                {% if supplement.related_products.all %}
                    <h3 style="color: green;">Produkty</h3>
                    {% for product in supplement.related_products.all %}
                        <span>
                            <img class="img-fluid  wow fadeIn" src="{{ product.image_url }}"/>
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                            {{ product.description|striptags|safe|truncatewords:10 }}
                        </span>
                        <br><br>
                    {% endfor %}
                {% endif %}
			</div>

    	</div>


    </div>
    <!-- produkty end --->

		<style>
			/* mPopup box style */
			.mpopup {
				display: none;
				position: fixed;
				z-index: 1;
				padding-top: 120px;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				overflow: auto;
				background-color: rgb(0,0,0);
				background-color: rgba(0,0,0,0.4);
			}
			.mpopup-content {
				position: relative;
				background-color: #fefefe;
				margin: auto;
				padding: 0;
				width: 60%;
				box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
				-webkit-animation-name: animatetop;
				-webkit-animation-duration: 0.4s;
				animation-name: animatetop;
				animation-duration: 0.4s
			}
			
			.mpopup-head {
				padding: 6px 16px;
				background-color: #436a1f;
				color: white;
			}
			.mpopup-main {padding: 20px 16px;}
			.mpopup-main input {text-align:center;}
			.mpopup-foot {
				padding: 2px 16px;
				background-color: #436a1f;
				color: #ffffff;
			}
			
			/* add animation effects */
			@-webkit-keyframes animatetop {
				from {top:-300px; opacity:0}
				to {top:0; opacity:1}
			}
			
			@keyframes animatetop {
				from {top:-300px; opacity:0}
				to {top:0; opacity:1}
			}
			
			/* close button style */
			.close {
				color: white;
				float: right;
				font-size: 28px;
				font-weight: bold;
			}
			.close:hover, .close:focus {
				color: #000;
				text-decoration: none;
				cursor: pointer;
			}
			</style>
			
			<script>
				function subscriptionPopup(){
				// get the mPopup
				var mpopup = $('#mpopupBox');
				// open the mPopup
				mpopup.show();
				// close the mPopup once close element is clicked
				$(".close").on('click',function(){
					mpopup.hide();
				});
			
				// close the mPopup when user clicks outside of the box
				$(window).on('click', function(e) {
					if(e.target == mpopup[0]){
						mpopup.hide();
					}
				});
			}
			</script>
			
			<div id="mpopupBox" class="mpopup text-center">
				<!-- mPopup content -->
				<div class="mpopup-content">
					<div class="mpopup-head">
						<span class="close">×</span>
						<h2>Zapytaj o produkt</h2>
					</div>
					<div class="mpopup-main">
						<form method="POST">
							{% csrf_token %}
							{{ form.as_p }}
						<button class="btn btn-666 hvr-fade" id="zatwierdz" type="submit" disabled>Wyślij</button>
						</form>
                                <script>
            function enableBtn() {
                document.getElementById("zatwierdz").disabled = false;
            }
        </script>
					</div>
					<div class="mpopup-foot">
						<p>&nbsp;</p>
					</div>
				</div>
			</div>
{% endblock %}
