{% extends 'tile_list.html' %}

{% block extra_content %}

<!-- slide 1 start --->

<div class="container-fluid products-intro">
    <div class="container" style="height:100%">
        <div class="row" style="height:100%">
            <div class="col-md-12 text-center top" style="    display: -ms-flexbox;
display: -webkit-flex;    display: flex;    -ms-flex-align: center;    -webkit-align-items: center;    -webkit-box-align: center;    align-items: center;    height: 100%;"	 >
                <div  style="margin:0 auto">
                    <h1 class="wow fadeIn">PRODUKTY</h1>
                    <a href="#products" class="btn btn-light wow fadeIn">Zobacz ofertę</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- slide 1 end  --->


<div style="margin-top:1em;" class="container-fluid text-center ">
    <form method="get" action="{% url 'supplements:list' %}">
        <input type="text" id="searchInput" onkeyup="searchFunction()" placeholder="Szukaj produktu..">
        <button id="clearButton" onclick="clearSearchBar(event)" style="margin-left: -30px;"><i class="fa fa-times"></i></button>
        <label>Wybierz kategorię:</label>
        <select name="category" id="category">
            <option value="">Pokaż wszystko</option>
            {% for item in categories %}
                <option value="{{ item.slug }}">{{ item.name }}</option>
            {% endfor %}
        </select>

    </form>
</div>

{% endblock %}



{% block extra_js %}
<script>
    function clearSearchBar(e){
        e.preventDefault();
        var search_bar = document.getElementById('searchInput')
        search_bar.value = ""
        searchFunction
    }
    // var button = document.getElementById('clearButton')
    // button.addEventListener('click', clearSearchBar)
</script>
<script>
    var category_tab = document.getElementById('category')
    category_tab.onchange = function(){

        var category =  category_tab.value;
        var all_tiles = document.querySelectorAll('[data-category]');
        
        for (i=0; i < all_tiles.length; i++){
            let tile = all_tiles[i]

            if (tile.dataset.category == category){
                tile.style.display = 'flex'
            }
            else {
                tile.style.display = 'none'
            }
        
        }
        
        // Trigger scroll event to refresh wow.js animation
        window.scrollTo(window.scrollX, window.scrollY - 1);
        window.scrollTo(window.scrollX, window.scrollY + 1);
    }
</script>
<script>
function searchFunction() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('searchInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("products");
    li = ul.getElementsByClassName('cell');
    
    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("h1")[0];
        txtValue = a.textContent || a.innerText;
        // console.log(txtValue, a.textContent, a.innerText)
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }

    // Trigger scroll event to refresh wow.js animation
    window.scrollTo(window.scrollX, window.scrollY - 1);
    window.scrollTo(window.scrollX, window.scrollY + 1);
}
</script>
{% endblock %}
