{% extends 'base.html' %}

{% block content %}
    <div class="container text-center" style="margin-top: 88px">
        <h3>Twoje konta bankowe:</h3>
        {% for bank_account in  bankaccount_list %}
            <a href="{% url 'profile:bankaccount-edit' %}">{{ bank_account.bank_name }} - {{ bank_account.bank_number }}</a>
        {% endfor %}

        <a href="{% url 'profile:bankaccount-create' %}">Dodaj konto bankowe</a>
    </div>
{% endblock %}