{% extends 'base.html' %}

{% block extra_style %}
    <style>
        table, td, th {border: 0 !important;}
    </style>
{% endblock %}

{% block content %}
    <div class="container text-center" style="margin-top: 100px">
        <h3>Konto bankowe</h3>
        <form method="POST">
            <div class="justify-content-center">
                <table align="center">
                {% csrf_token %}
                {% for field in form %}
                    {% if not field.label == 'Właściciel konta'%}
                        <tr>
                        <td class="text-right">{{ field.label }}</td><td>{{ field }}</td>
                        </tr>
                        <tr><td colspan="2" class="form-error">{{ field.errors.as_text|cut:"* " }}</td></tr>
                    {% else %}
                        <tr>
                        <td class="text-right"></td><td>{{ field.as_hidden }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
            </div>
            <input class="btn btn-666" value="Zapisz" type="submit" />
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        document.getElementById('id_user').value = '{{ user.id }}';
    </script>
{% endblock %}