<div style="display: none;" id="user-id">{{ user.id }}</div>

<div class="row">
<div class="col-10 align-content-center" id="chat-messages">
{% for chat in object.chatmessage_set.all|dictsortreversed:'timestamp' %}
    <div style="background-color: #58a314; padding: 10px 10px 10px 10px; margin: 10px 10px 10px 10px"
         class="col-11 {% if chat.user == user %}offset-1{% endif %}col-md-7 {% if chat.user == user %}offset-md-3{% endif %}">
        {{ chat.message }}
    </div>
{% endfor %}
</div>

</div>
