{% extends 'base.html' %}


{% block head_title %}

    Zaktualizuj profil - {{ block.super }}

{% endblock %}

{% block content %}


<div class="container justify-content-center" align="center" style="margin-top:150px" id="user-update">
        <div class="text-center col-12" >
            <h2>Zmiana danych osobowych</h2>
        </div>

<form method="post" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'forms/includes/new_form.html' %}
     <p><a href="{% url 'password_change' %}">Zmień hasło</a> (zostaniesz przekierowany)</p><br>
    <div class="text-center col-12">
          <button class="btn btn-secondary">Zaktualizuj</button>
    </div>

    </form>

</div>




{% endblock %}