{% extends 'base.html' %}

{% load profiles_tags %}

{% block content %}
    <div class="container" style="margin-top: 87px;">
        <div class="row">
            <div class="col-12 text-center">

                <h2>{{ formentry.form.title }}</h2>
                <p>{{ formentry.entry_time }}</p>

                {% for field_entry in formentry.fields.all %}
                    {% with field_entry.field_id|get_form_field as field %}
                        {% if field.field_type == 9 %}
                            <a href="/../download/{{ field_entry.value }}" download class="see_more survey_link">{{ field }}</a>
                            <br>
                        {% else %}
                            <div class="answers_block">
                                <div class="question">{{ field }}</div>
                                <div class="answer">{{ field_entry.value }}</div>
                            </div>
                            <hr class="survey-divider">
                        {% endif %}
                    {% endwith %}

                {% endfor %}

                <a href="{{ request.META.HTTP_REFERER }}" class="btn  btn-666 hvr-fade  wow fadeIn animated" style="padding: 1em; visibility: visible; animation-name: fadeIn; margin-top:30px; margin-bottom:30px;">Powrót</a>
                {% if request.user == formentry|get_form_user %}
                    <a href="{% url 'form-update' formentry.pk %}" class="simple_link">Edytuj</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}