{% extends 'base.html' %}

{% load profiles_tags %}
{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'css/delete_popup.css' %}">
{% endblock %}

{% block content %}

    <script>
    function deletePopup(pk){
    // get the mPopup
    var mpopup = $('#mpopupBox');
    var i;
    document.querySelector('input[name="pk"]').value = pk;

    // open the mPopup
    mpopup.show();
    // close the mPopup once close element is clicked
    $(".close").on('click',function(){
        mpopup.hide();
    });

    // close the mPopup when user clicks outside of the box
    $(window).on('click', function(e) {
        if(e.target == mpopup[0]){
            mpopup.hide();
        }
    });
    }
    </script>

    <div id="mpopupBox" class="mpopup text-center">
        <!-- mPopup content -->
        <div class="mpopup-content">
            <div class="mpopup-head">
                <span class="close">×</span>
                <h2>Czy na pewno chcesz usunąć ankietę?</h2>
            </div>
            <div class="mpopup-main">
                <form method="post">
                    {% csrf_token %}
                    <p><input type="hidden" name="pk"/></p>
                    <p><button class="btn btn-666" type="submit">USUŃ</button></p>
                </form>
            </div>
            <div class="mpopup-foot">
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <div style="margin-top: 87px;" class="container text-center">
        <div class="row">

            <div class="col-12">
                <h2 class="survey_header" style="margin-bottom:20px">Lista ankiet</h2>
                {% for form in object_list %}
                    <a class="see_more survey_link" href="{% url 'form_detail' form.slug %}">{{ form.title }}</a>
                {% endfor %}
            </div>

            <div class="col-12">
                <hr class="survey_divider" style="margin-top:30px; margin-bottom:30px">
                <h3 class="survey_header" style="margin-bottom:20px">Uzupełnione ankiety</h3>
            </div>

                <hr class="survey-divider">
                {% for filled_form in view.filled_forms %}
                    <div class="col-12">
                    {{ filled_form.user.email }}
                    {{ filled_form.form_entry.entry_time }}
                    <a href="{% url 'filled_form' filled_form.form_entry.pk %}">{{ filled_form.form_entry.form.title }}</a>
                    <a href="#" onclick="deletePopup({{ filled_form.pk }})">Usuń</a>
                    <br>
                    </div>
                    <br>
                {% endfor %}

            <div class="col-12">
                <hr class="survey_divider" style="margin-top:30px; margin-bottom:30px">
                <h3 class="survey_header" style="margin-bottom:20px">Uzupełnione przez podopiecznych</h3>
            </div>

                {% for filled_form in view.filled_forms_by_invited %}
                    <div class="col-12">
                    {{ filled_form.user.email }}
                    {{ filled_form.form_entry.entry_time }}
                    <a href="{% url 'filled_form' filled_form.form_entry.pk %}">{{ filled_form.form_entry.form.title }}</a>
                    <a href="#" onclick="deletePopup({{ filled_form.pk }})">Usuń</a>
                    <br>
                    </div>
                    <br>
                {% endfor %}

            <div class="col-12">
                <a href="{% url 'profile:user-profile' %}"  class="btn  btn-666 hvr-fade  wow fadeIn animated" style="padding: 1em; visibility: visible; animation-name: fadeIn; margin-top: 30px;">Powrót</a>
            </div>

        </div>
    </div>
{% endblock %}