{% extends 'base.html' %}

{% load profiles_tags %}

{% block content %}
    <div class="container text-center" style="margin-top: 100px">
    <p>Uzupełniono dnia: {{ form_entry_time }}</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-666 hvr-fade" type="submit">Wyślij</button>
        </form>
    </div>
{% endblock %}