{% load profiles_tags %}


{% if user.invited_by %}
<p style="font-weight: bold;">Zaproszony przez:</p>

<ul class="lista"></ul>
    <li>
        <div class="row" style="font-weight: bold;">
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                <span>ID</span>
            </div>

            <div class="col-md-2 d-flex align-items-center justify-content-center">
                Użytkownik
            </div>
            <div class="col-md-3 linki d-flex align-items-center justify-content-center">
                Email
            </div>
            <div class="col-md-4 d-flex justify-content-center justify-content-md-end linki d-flex align-items-center">
                Rozmowa
            </div>
            <div class="col-md-2 d-flex justify-content-center justify-content-md-end linki d-flex align-items-center">
                Notatki
            </div>
        </div>
    </li>

    <li>
        <div class="row">
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                <span style="font-weight: bold;">{{ user.invited_by.coral_id|default_if_none:"&nbsp" }}</span>
            </div>

            <div class="col-md-2 d-flex align-items-center justify-content-center">
                {{ user.invited_by.first_name|default_if_none:"&nbsp" }} {{ user.invited_by.second_name|default_if_none:"&nbsp" }}
            </div>
            <div class="col-md-3 linki d-flex align-items-center justify-content-center">
                {{ user.invited_by.email|default_if_none:"&nbsp" }}
            </div>
            <div class="col-md-6 d-flex justify-content-center justify-content-md-end linki d-flex align-items-center">
                <a href="#" class="invited-row" id="invited_{{ user.invited_by.email }}" onclick="open_chat('{{ user.invited_by.email }}', '{{ user.invited_by.first_name }}', '{{ user.invited_by.last_name }}');">
                    <i class="fas fa-comment fa-xs"></i>
                    Rozmowa
                </a>

                <a
                    href="#"
                    onclick="window.open('notatka/' + {{ user.id }} + '/' +
                '{{ user.invited_by.email }}', '_blank', 'directories=0,titlebar=0,toolbar=0,location=0,status=0,menubar=0,scrollbars=yes,resizable=no,width=500,height=520');"
                >
                    <i class="fas fa-sticky-note fa-xs"></i> Notatki
                </a>
            </div>
        </div>
    </li>
</ul>

{% endif %}

{% if user.inviting.all %}
<br>
<ul class="lista">
    <p style="font-weight: bold;">Zaproszeni użytkownicy:</p>
    <li>
        <div class="row" style="font-weight: bold;">
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                <span>ID</span>
            </div>

            <div class="col-md-2 d-flex align-items-center justify-content-center">
                Użytkownik
            </div>
            <div class="col-md-3 linki d-flex align-items-center justify-content-center">
                Email
            </div>
            <div class="col-md-4 d-flex justify-content-center justify-content-md-end linki d-flex align-items-center">
                Termin spotkania
            </div>
            <div class="col-md-2 d-flex justify-content-center justify-content-md-end linki d-flex align-items-center">
                Rozmowa
            </div>
        </div>
    </li>


{% for invited in user.inviting.all %}
    <li>
        <div class="row">
            <div class="col-md-1 d-flex align-items-center justify-content-center">
                <span style="font-weight: bold;">{{ invited.coral_id|default_if_none:"&nbsp" }}</span>
            </div>

            <div class="col-md-2 d-flex align-items-center justify-content-center">
                {{ invited.first_name|default_if_none:"&nbsp" }} {{ invited.second_name|default_if_none:"&nbsp" }}
            </div>
            <div class="col-md-3 linki d-flex align-items-center justify-content-center">
                <a href="mailto:{{ invited.email }}">
                    {{ invited.email|default_if_none:"&nbsp" }}
                </a>
            </div>
            <div class="col-md-6 d-flex justify-content-center justify-content-md-end linki d-flex align-items-center">
                {% if invited|has_filled_forms %}
                <a href="{% url 'invited-form-list' invited.email %}" class="invited-row">
                    <i class="fas fa-list-ul fa-xs"></i>
                    Ankiety
                </a>
                {% else %} &nbsp {% endif %}

                <a href="#" class="invited-row" onclick="DatePickerPopup('{{ invited.pk }}');">
                    {% if not invited|get_appointment:request.user %}
                    <i class="fas fa-calendar fa-xs"></i>
                    {% else %}
                    <i class="fas fa-pencil-alt fa-xs"></i>
                    {% endif %} {{ invited|get_appointment:request.user|default_if_none:"Spotkanie" }}
                </a>

                <a href="#" class="invited-row" id="invited_{{ invited.email }}" onclick="open_chat('{{ invited.email }}', '{{ invited.first_name }}', '{{ invited.last_name }}');">
                    <i class="fas fa-comment fa-xs"></i>
                    Rozmowa
                </a>
            </div>
        </div>
    </li>

{% endfor %}
</ul>
{% endif %}