{% extends 'base.html' %}

{% load profiles_tags %}

{% block content %}
    <div class="container" style="margin-top:87px;">
        <div class="row">
            <div  class="text-center col-12">

            <br>
            <div class="col-12">
                <h2 class="survey_header" style="margin-bottom:20px">Ankiety uzupełnione przez
                    {% if invited_user.first_name %}
                        {{ invited_user.first_name }}
                        {{ invited_user.last_name }}
                    {% else %}
                        {{ invited_user.email }}
                    {% endif %}
                </h2>
                <hr class="survey_divider" style="margin-top:30px; margin-bottom:30px">
            </div>


            {% for filled_form in object_list %}
                <div class="col-12">
                    {{ filled_form.user.email }}
                    {{ filled_form.form_entry.entry_time }}
                    <a href="{% url 'filled_form' filled_form.form_entry.pk %}">{{ filled_form.form_entry.form.title }}</a>
                    <br>
                </div>
                <br>
            {% empty %}
                <h3 class="text-center">Użytkownik nie uzupełnił żadnych ankiet bądź nie jest Twoim podopiecznym</h3>
            {% endfor %}
            <div class="col-12 text-center">
                    <a href="{{ request.META.HTTP_REFERER }}" class="simple_link">Powrót</a>
            </div>
        </div>
    </div>
{% endblock %}