{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/css.html' %}
    <meta charset="UTF-8">
    <title>Zaktualizuj notatkę</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <form method="POST">
            {{ form.media }}
            {% csrf_token %}
            {% for field in form %}
            <div class="row">
              <div class="col-12">
                {{ field.errors }}
              </div>
              <div class="col-12">
                {{ field.label_tag }}
              </div>
              <div class="col-12">
                {{ field }}
              </div>
            </div>
        	{% endfor %}

            <div class="col-12 text-center">
                <button class="btn btn-666" type="submit">Zaktualizuj</button>
            </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>