{% extends 'base.html' %}
{% load static %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'css/delete_popup.css' %}">

    <style>
    #page-top th {
        border: 0;
    }
     #page-top th {
        background: rgba(0, 0, 0, 0.1);
    }
    </style>

{% endblock %}


{% block content %}

<script>
    function deletePopup(pk){
    // get the mPopup
    var mpopup = $('#mpopupBox');
    var i;
    document.querySelector('input[name="pk"]').value = pk;

    // open the mPopup
    mpopup.show();
    // close the mPopup once close element is clicked
    $(".close").on('click',function(){
        mpopup.hide();
    });

    // close the mPopup when user clicks outside of the box
    $(window).on('click', function(e) {
        if(e.target == mpopup[0]){
            mpopup.hide();
        }
    });
}
</script>

<div id="mpopupBox" class="mpopup text-center">
    <!-- mPopup content -->
    <div class="mpopup-content">
        <div class="mpopup-head">
            <span class="close">×</span>
            <h2>Czy na pewno chcesz usunąć notatkę?</h2>
        </div>
        <div class="mpopup-main">
            <form method="post">
                {% csrf_token %}
                <p><input type="hidden" name="pk"/></p>
                <p><button class="btn btn-666" type="submit">USUŃ</button></p>
            </form>
        </div>
        <div class="mpopup-foot">
            <p>&nbsp;</p>
        </div>
    </div>
</div>


<div class="container" style="margin-top: 87px;">

    <div style="margin-top:1em;" class="container-fluid text-center ">
        <a href="{% url 'profile:note-create' %}" class="simple_link">Stwórz notatkę</a>
        <form method="get">
            <label>Użytkownik:</label>
                <select name="note_user">
                    <option value="">Pokaż wszystko</option>
                    {% for item in view.invited_users %}
                        <option value="{{ item.email }}">
                            {% if item.first_name %}
                                {{ item.first_name }} {{ item.last_name }}
                            {% else %}
                                {{ item.email }}
                            {% endif %}
                        </option>
                    {% endfor %}
                    {% for item in view.filled_for %}
                        <option value="{{ item }}">
                            {{ item }}
                        </option>
                    {% endfor %}
                </select>
                <label>Kategoria notatki:</label>
                <select name="category">
                    <option value="">Pokaż wszystko</option>
                    {% for category_name in view.categories %}
                        <option value="{{ category_name }}">
                            {{ category_name }}
                        </option>
                    {% endfor %}
                </select>
            <button type="submit" class="btn btn-default">Szukaj</button>
        </form>
    </div>
    <div class="text-center" style="margin-top: 10px;">
        <table style="width:100%">
            <tr>
                <th class="text-center" style="width:3.33%">Utworzono</th>
                <th class="text-center" style="width:3.33%">Zmodyfikowano</th>
                <th class="text-center" style="width:3.33%">Kategoria</th>
                <th class="text-center" style="width:10%">Data wizyty</th>
                <th class="text-center" style="width:20%">Tytuł</th>
                <th class="text-center" style="width:15%">Związany z</th>
                <th class="text-center" style="width:12%">Uzupełniono dla</th>
                <th class="text-center" style="width:10%">Edytuj</th>
                <th class="text-center" style="width:10%">Usuń</th>
            </tr>
        {% for note in note_list|dictsortreversed:'created' %}
            <tr>
                <td>{{ note.created }}</td>
                <td>{{ note.modified }}</td>
                <td>{{ note.category|default_if_none:"-" }}</td>
                <td>{{ note.meeting_time|default_if_none:"-" }}</td>
                <td><a href="{% url 'profile:note-detail' note.pk %}">{{ note.title }}</a></td>
                {% if note.invited.first_name and note.invited.last_name %}
                    <td>{{ note.invited.first_name }} {{ note.invited.last_name }}</td>
                {% else %}
                    <td>{{ note.invited|default_if_none:"Nie określono" }}</td>
                {% endif %}
                <td>{{ note.filled_for }}</td>
                <td><a href="{% url 'profile:note-edit' note.pk %}" class="simple_link">Edytuj</a></td>
                <td><a href="#" onclick="deletePopup({{ note.pk }})" class="simple_link">Usuń</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}