{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container" style="margin-top:150px">
    <div class="row">
        <div class="col-12 text-center">
            <h3>{{ object.title }}</h3>
            <form method="POST">
            {{ form.media }}
            {% csrf_token %}
            {% for field in form %}
            <div class="row">
              <div class="col-12">
                {{ field.errors }}
              </div>
              <div class="col-12">
                {{ field.label_tag }}
              </div>
              <div class="col-12">
                {{ field }}
              </div>
            </div>
        	{% endfor %}

            <div class="col-12 text-center">
                <button class="btn btn-666" type="submit">Zaktualizuj</button>
            </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}

</body>
</html>