{% extends 'base.html' %}

{% block extra_style %}
<style>
    #page-top table {
        border: 0;
    }

    #page-top th {
        border: 0;
    }

    #page-top td {
        border: 0;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 97px;">
        <div class="row">
            <div class="col-12 text-center">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 50%" class="text-right">Tytuł notatki:</td>
                        <th style="width: 50%" class="text-left">{{ note.title }}</th>
                    </tr>
                    <tr>
                        <td style="width: 50%" class="text-right">Związana z użytkownikiem:</td>
                        <th style="width: 50%" class="text-left">{{ note.invited }}</th>
                    </tr>
                    <tr>
                        <td style="width: 50%" class="text-right">Uzupełniona dla:</td>
                        <th style="width: 50%" class="text-left">{{ note.filled_for }}</th>
                    </tr>
                    <tr>
                        <td style="width: 50%" class="text-right">Link do edycji: </td>
                        <th style="width: 50%" class="text-left">
                            <a href="{% url 'profile:note-user-edit' note.pk%}">Link</a></th>
                    </tr>
                </table>
            </div>
            <div class="col-12" style="margin-top: 3em;">
                {{ note.description|safe }}
                <a href="{{ request.META.HTTP_REFERER }}" class="simple_link">Powrót</a>
            </div>
        </div>
    </div>
{% endblock %}