{% extends 'base.html' %}
{% load static %}


{% block head_title %}Panel użytkownika - {{ block.super }}{% endblock %}


{% block extra_style %}
    <link href="{% static 'css/user_profile.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/delete_popup.css' %}">
{% endblock %}



{% block content %}
    <br>
    {% include 'profiles/user_profile_popup.html' %}

<div class="container" style="margin-top: 5em;">
    <div class="row">
        <div class="col-md-3 text-center">
        {% include 'profiles/user_profile_sidebar.html' %}
        </div>

        <div class="col-md-9 text-center">

            {% include 'profiles/invited_list.html' %}

            <div id="chat-div">
                {% include 'profiles/chat.html' %}
            </div>
            <form id='chat-form' method='POST'>
            {% csrf_token %}
            <div class="col-10" style="float: left">
                {{ form.media }}
                {{ form.as_table }}
                <input type='hidden' id="myUser" value="{{ user.id }}"/>
            </div>
            <div class="col-2"><input style="float: right;" type='submit' value="Wyślij" class="btn btn-666" id="send-message"/></div>
            </form>
        </div>
     </div>
</div>

    {% include 'profiles/user_profile_modal.html' %}


<div class="container text-center">
    <div align='center' class="col-12">
        {% include 'profiles/user_profile_calendar.html' with calendar=calendar %}
        <div align='center' class="col-12">
            <a class="btn btn-666 left" href="{% url 'profile:user-profile' %}?{{ prev_month }}">Poprzedni miesiąc</a>
            <a class="btn btn-666 right" href="{% url 'profile:user-profile' %}?{{ next_month }}">Następny miesiąc</a>
        </div>

    </div>
</div>

{% endblock %}



{% block extra_js %}
    <script src="{% static 'js/modal_opener.js' %}"></script>
{% endblock %}