{% load static %}

{#    Scripts had to be added to the top of template to make Onclick work#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="{% static 'js/chat_socket.js' %}"></script>

    <script>
    function DatePickerPopup(pk){
    // get the mPopup
    const mpopup = $('#mpopupBox');
    // open the mPopup
    mpopup.show();
    for (let i = 0; i < document.querySelectorAll('input[name="pk"]').length; i++){
        document.querySelectorAll('input[name="pk"]')[i].value = pk;
    }

    // close the mPopup once close element is clicked
    $(".close").on('click',function(){
        mpopup.hide();
    });

    // close the mPopup when user clicks outside of the box
    $(window).on('click', function(e) {
        if(e.target == mpopup[0]){
            mpopup.hide();
        }
    });
    }
    </script>

    <script>
    function DatePickerPopupCalendar(day){
    // get the mPopup
    const mpopup = $('#CalendarPopupBox');
    // open the mPopup
    mpopup.show();

    // close the mPopup once close element is clicked
    $(".close").on('click',function(){
        mpopup.hide();
    });

    // close the mPopup when user clicks outside of the box
    $(window).on('click', function(e) {
        if(e.target == mpopup[0]){
            mpopup.hide();
        }
    });
    const year = $('#year').val();
    const month = $('#month').val();
    const dtime = new Date(year, month, day, 9, 0);
    for (let i = 0; i < document.querySelectorAll('input[id="meeting_time_cal"]').length; i++){
        document.querySelectorAll('input[id="meeting_time_cal"]')[i].value = dtime.toJSON().slice(0, 19);
}
    }
    </script>

<div id="mpopupBox" class="mpopup text-center">
    <!-- mPopup content -->
    <div class="mpopup-content">
        <div class="mpopup-head">
            <span class="close">×</span>
            <h2>Ustal termin spotkania</h2>
        </div>
        <div class="mpopup-main">
            <form id="appointment-form" method="POST">
                {% csrf_token %}
                <p><input type="hidden" name="pk" id="meeting_pk"/></p>
                <p><input type="datetime-local" name="meeting_time" id="meeting_time"></p>
                <p><button class="btn btn-666" id="submit-button" type="submit">ZAPISZ</button></p>
            </form>
        </div>
        <div class="mpopup-foot">
            <p>&nbsp;</p>
        </div>
    </div>
</div>

<input type="hidden" name="year" id="year" value={{ year }}>
<input type="hidden" name="month" id="month" value={{ month }}>

<div id="CalendarPopupBox" class="mpopup text-center">
    <!-- mPopup content -->
    <div class="mpopup-content">
        <div class="mpopup-head">
            <span class="close">×</span>
            <h2>Ustal termin spotkania</h2>
        </div>
        <div class="mpopup-main">
            <form id="appointment-form" method="POST">
                {% csrf_token %}
                <p><select name="pk" id="meeting_pk">
                    {% for invited in user.inviting.all %}
                        <option value={{ invited.pk }}>
                            {% if invited.first_name and invited.last_name %}
                                {{ invited.first_name }} {{ invited.last_name }}
                            {% else %}
                                {{ invited.email }}
                            {% endif %}
                        </option>
                    {% endfor %}
                </select>
                </p>
                <p><input type="datetime-local" name="meeting_time" id="meeting_time_cal"></p>
                <p><button class="btn btn-666" id="submit-button" type="submit">ZAPISZ</button></p>
            </form>
        </div>
        <div class="mpopup-foot">
            <p>&nbsp;</p>
        </div>
    </div>
</div>