
<script type="text/javascript">
$(document).ready(function() {

    var heights = $(".equal-row").map(function() {
        return $(this).height();
    }).get(),

    maxHeight = Math.max.apply(null, heights);

    $(".equal-row").height(maxHeight);


$(window).resize(function () {
       var heights = $(".equal-row").map(function() {
        return $(this).height();
    }).get(),

    maxHeight = Math.max.apply(null, heights);

    $(".equal-row").height(maxHeight);
});

});
</script>
<!-- skrypt equal rows end -->


  <!---kalendarz styl start-->
	<style>
	div.calendar{
		margin-top:50px;
		margin-bottom:50px;
		border:0;
		background-color: rgb(241, 241, 241);
		border-radius: 15px;
		overflow: hidden;
		-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.1);
	}
	div.month{
		background-color: rgb(120, 209, 37);
		font-size:36pt;
		color:white;
		padding:15px 0px 15px 0px;
		text-align:center;
	}
	div.weekdays{
		padding:10px 0px 10px 0px;
		text-transform: uppercase;
		color:rgb(120, 209, 37);
		font-size:12pt;
		text-align:center;
	}
	span.date{
		text-align: center;
		padding:0px 0px 0px 0px;
		font-size:36pt;
		vertical-align: top;
		color:rgb(80, 80, 80);
	}
	div.col{text-align:center;}
	div.calendar ul{
		padding: 0;
		list-style-type: none;
	}
	ul{margin-bottom:0px}

@media (max-width: 575.98px) {
		span.date{font-size:15pt;}
		div.calendar ul {font-size:5pt; line-height:6pt; }
		div.equal-row .col{padding:5px !important}
		div.month{font-size:20pt}
	}

@media (min-width: 576px) and (max-width: 767.98px) {
		span.date{font-size:25pt;}
		div.calendar ul {font-size:7pt; line-height:7pt; }
		div.equal-row .col{padding:5px !important}
 }
 @media (min-width: 768px) and (max-width: 991.98px) {
		span.date{font-size:25pt;}
		div.calendar ul {font-size:7pt; line-height:7pt; }
		div.equal-row .col{padding:5px !important}
 }

 @media (min-width: 992px) and (max-width: 1199.98px) {
		span.date{font-size:25pt;}
		div.calendar ul {font-size:7pt; line-height:7pt; }
		div.equal-row .col{padding:5px !important}
 }

  @media (min-width: 1199.98px) {
		div.calendar{width:1100px}
		div.calendar ul {font-size:10pt; line-height:10pt; }
 }


	</style>
	<!---kalendarz styl end-->

{{ calendar }}