<div style="position:relative">
    <img style="max-width: 200px;" class="img-fluid" src="{{ user.avatar.url }}">
    <div style="background-color:white; position:absolute; bottom:40px; left:10px; display:inline; padding:10px 15px 10px 15px; font-weight:bold; font-size:14pt">{{ user.first_name }} {{ user.last_name }}</div>
    <div style="background-color:black; position:absolute; bottom:20px; left:15px; display:inline; padding:5px; font-size:10pt; color:white; ">{{ user.email }}</div>
</div>
    <a href="{% url 'profile:update' user.id %}" class="menu_left"><i class="fas fa-user"></i>Zaktualizuj profil</a>
    {% if request.user.is_staff or request.user.can_add_event %}
        <a href="{% url 'profile:bankaccount-list' %}" class="menu_left"><i class="fas fa-piggy-bank"></i>Moje konta bankowe</a>
        <a href="{% url 'profile:event-create' %}" class="menu_left"><i class="fas fa-calendar-alt"></i>Stwórz event</a>
    {% endif %}
    {% if request.user.events.all %}
        <a href="{% url 'profile:event-list' %}" class="menu_left"><i class="fas fa-list-ul"></i>Lista eventów</a>
    {% endif %}
    <a href="{% url 'profile:note-list' %}" class="menu_left"><i class="fas fa-sticky-note"></i>Notatki</a>
    <a href="{% url 'form-list' %}" class="menu_left"><i class="fas fa-list-ol"></i>Ankiety</a>
