{% extends 'base.html' %}

{% load static %}
{% block head_title %}{{ block.super }} - {{ recipe.name }}{% endblock %}

{% block meta_tags %}
    {{ block.super }}
    <meta property="og:title" content="{{ recipe.name }}" />
    <meta property="og:description" content="{{ recipe.description|truncatewords:6|striptags|safe }}" />
    <meta property="og:image" content="http://sciezkidozdrowia.pl{{ recipe.img.url }}" />
{% endblock %}

{% block content %}
    <div class="container" style="margin-top:150px; margin-bottom:200px; height:100%; " id="offer">
    	<div class="row">
    		<div class="col-md-3 text-right">
    				<img class="img-fluid  wow fadeIn" src="{{ recipe.img.url }}"
                     width="220" height="220">
    		</div>

    		<div class="col-md-8 text-left">
    				<h1 class=" wow fadeIn">{{ recipe.name }}</h1>
    				<h3 class=" wow fadeIn">{{ recipe.contents }}</h3>
    				<span class="wow fadeIn">{{ recipe.description|safe }}</span>
              <span class="wow fadeIn"><a href="{% url 'kitchen:category_list' recipe.category.slug %}" class="see_more">Powrót</a> </span>
            </div>
    		
    	</div>
    </div>
{% endblock %}