{% extends 'base.html' %}

{% block extra_style %}
    <style>
        table, td, th {border: 0 !important;}
    </style>
{% endblock %}

{% block content %}

    {{ view.get_field_names_anonymous_user }}
    <div class="container-fluid justify-content-center" style="margin-top: 100px;">
        <div class="text-center">
            <h2>Event</h2>
            <form method="POST" class="form-horizontal" enctype='multipart/form-data'>
            {{ form.media }}
            {% csrf_token %}
            <div class="justify-content-center">
            <table align="center">
            {% for field in form %}
                {% if not forloop.revcounter == 1  %}
                <tr>
                <td class="text-right">{{ field.label }}</td><td>{{ field }}</td>
                </tr>
                <tr><td colspan="2" class="form-error">{{ field.errors.as_text|cut:"* " }}</td></tr>
                {% else %}

                    </table>
                    </div>
                    <div class="row">
                    <div class="col-sm-12 col-md-10 offset-md-1">
                    {{ field.label }}
                    {{ field }}
                    </div>
                    </div>
                {% endif %}
            {% endfor %}

            <a href="{{ request.META.HTTP_REFERER }}" style="margin-top: 5px;" class="btn btn-666">Powrót</a>
            <button style="margin-top: 5px;" class="btn btn-666" type="submit">Zapisz</button>

            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
    document.getElementById('id_img').classList.add('filestyle');
    document.getElementById('id_img').setAttribute('data-text', 'Wybierz zdjęcie')
    </script>
{% endblock %}