{% extends 'base.html' %}

{% load static %}
{% load news_tags %}
{% block head_title %}{{ block.super }} - {{ event2.name }}{% endblock %}

{% block meta_tags %}
    {{ block.super }}
    <meta property="og:title" content="{{ event2.name }}" />
    <meta property="og:description" content="{{ event2.description|truncatewords:6|striptags|safe }}" />
    <meta property="og:image" content="http://sciezkidozdrowia.pl{{ event2.img.url }}" />
{% endblock %}



{% block content %}

    <div class="container wow fadeIn" style="margin-top:150px; margin-bottom:200px; height:100%; " id="offer">
    	<div class="row">
{#            ZDJĘCIE EVENTU#}
    		<div class="col-md-3 text-right">
                <img class="img-fluid" src="{{ event2.img.url }}"
                 width="220" height="220">
    		</div>

{#            POLE Z OPISEM I PRZYCISKAMI#}
    		<div class="col-md-8 text-left" style="border:3px solid #58a314">
{#                OPIS#}
                <h1>{{ event2.name }}</h1>
                <h3 class="dates"><i class="fas fa-calendar fa-xs"></i> {{ event2.event_date }}</h3>
                <h3><i class="fas fa-clock fa-xs"></i> {{ event2.event_time }}</h3>

                {% if event2.city and event2.street %}
                    <h3 class="place"><i class="fas fa-map-marker fa-xs"></i>
                    {{ event2.city }} - {{ event2.street }}
                    </h3>
                {% elif event2.city or event2.street %}
                    <h3 class="place"><i class="fas fa-map-marker fa-xs"></i>
                    {{ event2.city|default_if_none:"" }}{{ event2.street|default_if_none:"" }}
                    </h3>
                {% endif %}
                <h3 class="dates"><i class="fas fa-microphone fa-xs"></i>  {{ event2.speaker|default_if_none:"Mówca nieogłoszony" }}</h3>

                <span>{{ event2.description|safe }}</span>

{#                KONTO BANKOWE#}
                {% if event2.bank_account %}
                <h2>Dane do przelewu:</h2>
                <span>
                    <h3>{{ event2.bank_account.bank_name }}</h3>
                    <h3>{{ event2.bank_account.bank_number }}</h3>
                    {% if event2.bank_account.first_name and event2.bank_account.last_name %}
                        <h3>{{ event2.bank_account.first_name }} {{ event2.bank_account.last_name }}</h3>
                    {% else %}
                        <h3>{{ event2.user.first_name }} {{ event2.user.lasst_name }}</h3>
                    {% endif %}
                </span>
                {% endif %}

{#                BILETY#}
                <span>
                    <h2>Bilety:</h2>
                    {% for ticket in event2.tickets.all %}
                        <h3><b>
                        {% if ticket|get_reservation:request.user %}
                            {{ ticket.price }} {{ ticket.currency }} - pozostało {{ ticket.quantity }}
                            {% with ticket|get_reservation:request.user as reservation %}
                                <a href="{% url 'profile:reservation-edit' reservation.pk %}">Edytuj rezerwację</a>
                            {% endwith %}
                        {% else %}
                            {{ ticket.price }} {{ ticket.currency }} - pozostało {{ ticket.quantity }}
                            <a href="{% url 'profile:reservation-create' ticket.pk %}">Zarezerwuj</a>
                        {% endif %}
                    {% empty %}
                        Wstęp wolny, bez uprzedniej rejestracji
                        </b></h3>
                    {% endfor %}
                </span>

                <span>
                    <a href="{% url 'news:add_to_calendar' event2.pk %}" class="simple_link">Dodaj do kalendarza</a>
                    <a href="{{ request.META.HTTP_REFERER }}" class="simple_link">Powrót</a>

                    {% if user == event.created_by or user.is_staff %}
                        <a href="{% url 'profile:event-edit' event2.pk %}" class="simple_link">Edytuj</a>
                    {% endif %}
                </span>

            </div>
    	</div>
    </div>

{% endblock %}



{% block extra_js %}
    <script>
        var images = document.querySelectorAll('.text-left img');
        console.log(images);
        var count;
        for (count = 0; count < images.length; count++) {
            images[count].style.maxWidth = '100%';
            images[count].style.height = 'auto';
        }
    </script>
{% endblock %}
