{% extends 'base.html' %}
{% load static %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'css/delete_popup.css' %}">
{% endblock %}


{% block content %}

<script>
    function deletePopup(pk, del_type){
    // get the mPopup
    var mpopup = $('#mpopupBox');
    if (del_type == 'ticket'){
        mpopup = $('#mpopupBox2');
    }
    console.log(pk);
    var i;
    for (i = 0; i < document.querySelectorAll('input[name="pk"]').length; i++){
        document.querySelectorAll('input[name="pk"]')[i].value = pk;
        document.querySelectorAll('input[name="del_type"]')[i].value = del_type;
    }

    // open the mPopup
    mpopup.show();
    // close the mPopup once close element is clicked
    $(".close").on('click',function(){
        mpopup.hide();
    });

    // close the mPopup when user clicks outside of the box
    $(window).on('click', function(e) {
        if(e.target == mpopup[0]){
            mpopup.hide();
        }
    });
}

    function showReservations(res_id) {
        if (document.getElementById(res_id).style.display === 'none'){
            document.getElementById(res_id).style.display = 'block'
        }
        else {
            document.getElementById(res_id).style.display = 'none'
        }
    }
</script>


{#    MODALE#}
    <div id="mpopupBox" class="mpopup text-center">
        <!-- mPopup content -->
        <div class="mpopup-content">
            <div class="mpopup-head">
                <span class="close">×</span>
                <h2>Czy na pewno chcesz usunąć wydarzenie?</h2>
            </div>
            <div class="mpopup-main">
                <form method="post">
                    {% csrf_token %}
                    <p><input type="hidden" name="pk"/></p>
                    <p><input type="hidden" name="del_type"/></p>
                    <p><button class="btn btn-666" type="submit">USUŃ</button></p>
                </form>
            </div>
            <div class="mpopup-foot">
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <div id="mpopupBox2" class="mpopup text-center">
        <!-- mPopup content -->
        <div class="mpopup-content">
            <div class="mpopup-head">
                <span class="close">×</span>
                <h2>Czy na pewno chcesz usunąć bilet?</h2>
            </div>
            <div class="mpopup-main">
                <form method="post">
                    {% csrf_token %}
                    <p><input type="hidden" name="pk"/></p>
                    <p><input type="hidden" name="del_type"/></p>
                    <p><button class="btn btn-666" type="submit">USUŃ</button></p>
                </form>
            </div>
            <div class="mpopup-foot">
                <p>&nbsp;</p>
            </div>
        </div>
    </div>

<div class="container" style="margin-top: 87px">
    <div class="row">
        {% for event in object_list|dictsortreversed:'event_date' %}
            <div class="col-sm-12 col-md-4">
                <img src="{{ event.img.url }}" class="img-fluid" style="display: block; margin: auto;"
                width="220" height="220">
            </div>
            <div class="col-sm-12 col-md-8">
                <h1>{{ event.name }}</h1>
                <h3><i class="fa fa-calendar fa-xs"></i> {{ event.event_date }} - {{ event.event_time }} </h3>
                <h3><i class="fas fa-map-marker fa-xs"></i>{{ event.city|default:'Nie podano miasta' }}, {{ event.country|default:'Nie podano kraju' }}</h3>
                <h4>{{ event.speaker|default_if_none:'Nie podano mówcy' }}</h4>
                <p>{{ event.description|safe|striptags|truncatewords_html:20 }}</p>
                {% if event.tickets.all %}
                <h3>Bilety:</h3>
                {% for ticket in event.tickets.all %}
                    <div>
                    {{ ticket.price }} {{ ticket.currency}} - zostało {{ ticket.quantity }} sztuk
                    <a class="btn btn-666" href="{% url 'profile:ticket-edit' ticket.pk %}">Edytuj bilet</a>
                    <button class="btn btn-666" onclick="deletePopup('{{ ticket.pk }}', 'ticket')">Usuń bilet</button>
                    {% if ticket.reservations.all %}
                        <button class="btn btn-666" onclick="showReservations('res_{{ ticket.id }}')">Pokaż rezerwacje</button>
                        <div id="res_{{ ticket.id }}" style="display: none;">
                        <table style="margin-top: 5px; width: 100%;" class="text-center">
                            <tr>
                                <th class="text-center">Coral ID</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Imię</th>
                                <th class="text-center">Nazwisko</th>
                                <th class="text-center">Numer tel</th>
                                <th class="text-center">Ilość osób</th>
                            </tr>
                            {% for reservation in ticket.reservations.all %}
                                <tr>
                                    <td>{{ reservation.bought_by.coral_id|default_if_none:"-" }}</td>
                                    <td>{{ reservation.bought_by.email }} {{ reservation.email }}</td>
                                    <td>{{ reservation.bought_by.first_name|default_if_none:"-" }} {{ reservation.first_name }}</td>
                                    <td>{{ reservation.bought_by.last_name|default_if_none:"-" }}{{ reservation.last_name }}</td>
                                    <td>{{ reservation.bought_by.tel_no|default_if_none:"-" }}</td>
                                    <td>{{ reservation.people_no }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        </div>
                    {% endif %}
                    </div>
                    <br>
                {% endfor %}
                {% endif %}
                <div style="margin-top: 20px;">
                    <a class="btn btn-666" href="{% url 'profile:event-edit' event.pk %}">Edytuj</a>
                    <a class="btn btn-666" href="{% url 'profile:ticket-create' event.pk %}">Dodaj bilet</a>
                    <a class="btn btn-666" href="#" onclick="deletePopup('{{ event.pk }}', 'event')"
                        style="color:white !important; ">Usuń event</a>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
