{% extends 'base.html' %}
{% block head_title %}{{ block.super }} - {{ news.name }}{% endblock %}

{% block meta_tags %}
    {{ block.super }}
    <meta property="og:title" content="{{ news.name }}" />
    <meta property="og:description" content="{{ news.description|truncatewords:6|striptags|safe }}" />
    <meta property="og:image" content="http://sciezkidozdrowia.pl{{ news.img.url }}" />
{% endblock %}

{% block content %}
<div class="container" style="margin-top:150px">
	<div class="row justify-content-center">
        <div class="col-lg-11" >

            <blockquote class="blockquote wow fadeIn" >
                <img src="{{ news.img.url }}" class="img-fluid" style="display: block; margin: auto;"
                 width="220" height="220">
                <h1 class="text-center" style="color: green;">{{ news.name }}</h1><br>
                <p class="mb-0 text-justify">{{ news.description|safe }}</p>
                <a href="{{ request.META.HTTP_REFERER }}" class="see_more text-center">Powrót</a>
            </blockquote>

	    </div>
    </div>
</div>
{% endblock %}