{% extends 'base.html' %}

{% block head_title %}Artykuły - {{ block.super }}{% endblock %}
{% block content %}<br><br>
<div class="container" style="margin-top: 5em; margin-bottom:200px; justify-content: center; ">
    <div class="row">
        <div class="col-md-4 text-center">
            <h1>Wydarzenia</h1>
                {% for event in event_list %}
                    <div class="col-12">
                    <div style=" background-image: url({{ event.img.url }}); margin:10px;">
                        <a href="{{ event.get_absolute_url }}" class="kafel  d-flex justify-content-center mt-xs-3 align-items-center"  >
                            <div class="content text-center">
                            <p class="dates"><i class="fas fa-calendar fa-xs"></i> {{ event.event_date }} <i class="fas fa-clock fa-xs"></i> {{ event.event_time }}</p>
                            <p class="place"><i class="fas fa-map-marker fa-xs"></i> {{ event.street }}</p>
                            <h1>{{ event.city }}</h1>
                            <p class="author">Prowadzący: {{ event.speaker }}</p>
                            </div>
                        </a>
                    </div>
                    </div>
                {% endfor %}
        </div>
        <div class="col-md-8 text-center">
            <h1>Aktualności</h1>
    	<div class="row" >
        {% for news in object_list %}
    		<div class="col-md-6 cell text-center">
    			<a href="{{ news.get_absolute_url }}"  class="hvr-glow">
                  	<div style="height: 63%; margin-top: -15px;">
    				<img class="img-fluid  wow fadeIn" src="{{ news.img.url }}"
                    width="220" height="220">
                  </div>
    				<h1 style="height: 18%;" class=" wow fadeIn">{{ news.name }}</h1>
                    <h3 style="height: 8%; margin-bottom: -10px;" class=" wow fadeIn">
                        {{ news.description|truncatewords:5|safe|linebreaks|striptags }}</h3>
    				<span style="height: 12%; margin-bottom: 2px;" class="wow fadeIn">Zobacz więcej</span>
    			</a>
    		</div>
            {% empty %}
            <p>puste!!!</p>
            {% endfor %}
  	    </div>
        </div>
    </div>
</div>
{% endblock %}