{% extends 'base.html' %}

{% block extra_style %}
    <style>
        table, td, th {border: 0 !important;}
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid justify-content-center" style="margin-top: 100px;">
    <div class="text-center">
        <h2>Rezerwacja biletu: {{ ticket }} {{ object }}</h2>
        <form method="POST" class="form-horizontal">
        <div class="form-error">
        {{ form.non_field_errors }}
        </div>
        {% csrf_token %}
        <div class="justify-content-center">
            <table align="center">
            {% for field in form %}
                {% if request.user.is_authenticated %}
                <tr>
                <td class="text-right">{{ field.label }}</td><td>{{ field }}</td>
                </tr>
                <tr><td colspan="2" class="form-error">{{ field.errors.as_text|cut:"* " }}</td></tr>
                {% elif not request.user.is_authenticated %}
                <td class="text-right">{{ field.label }}</td><td>{{ field }}</td>
                </tr>
                <tr><td colspan="2" class="form-error">{{ field.errors.as_text|cut:"* " }}</td></tr>

                {% endif %}
            {% endfor %}
            </table>
        </div>

        <a href="{{ request.META.HTTP_REFERER }}" style="margin-top: 5px;" class="btn btn-666">Powrót</a>
        <button style="margin-top: 5px;" class="btn btn-666" type="submit">Zapisz</button>

        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script>
        if (document.getElementById("id_last_name")) {
            document.getElementById("id_last_name").required = true;
            document.getElementById("id_first_name").required = true;
            document.getElementById("id_email").required = true;
        }
    </script>
{% endblock %}
