{% extends 'base.html' %}

{% block extra_style %}
    <style>
        table, td, th {border: 0 !important;}
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid justify-content-center" style="margin-top: 100px;">
        <div class="text-center">
            <h2>Bilet eventu: {{ event }} {{ object }}</h2>
            <form method="POST" class="form-horizontal">
            {% csrf_token %}

            <div class="justify-content-center">
                <table align="center">
                {% for field in form %}
                    <tr>
                    <td class="text-right">{{ field.label }}</td><td>{{ field }}</td>
                    </tr>
                    <tr><td colspan="2" class="form-error">{{ field.errors.as_text|cut:"* " }}</td></tr>
                {% endfor %}
                </table>
            </div>

            <a href="{{ request.META.HTTP_REFERER }}" style="margin-top: 5px;" class="btn btn-666">Powrót</a>
            <button style="margin-top: 5px;" class="btn btn-666" type="submit">Zapisz</button>

            </form>
        </div>
    </div>
{% endblock %}
