{% extends 'base.html' %}


{% block content %}
    <div class="container text-center" style="margin-top: 150px;">
        <form>
            <div>
            <label for="body_mass">Masa ciała: </label>
            <input id="body_mass" name="body_mass" title="Masa ciała"><br>
            <label for="height">Wysokość: </label>
            <input name="height" id="height" title="Wzrost"><br>
            <label for="age">Wiek: </label>
            <input name="age" id="age" title="Wiek"><br>
            <label for="waist">Obwód talii: </label>
            <input name="waist" id="waist" title="Obwód talii"><br>
            <label for="hips">Obwód bioder: </label>
            <input name="hips" id="hips" title="Obwód bioder"><br>
            </div><br><br>
            <label for="BMI">BMI: </label>
            <input disabled id="BMI" name="BMI" title="BMI">
            <label for="PPM">PPM: </label>
            <input disabled id="PPM" name="PPM" title="PPM">
            <label for="WHR">WHR: </label>
            <input disabled id="WHR" name="WHR" title="WHR">
            <label for="BF">% BF: </label>
            <input disabled id="BF" name="BF" title="BF">


            <br><br>
            <button type="submit" class="btn btn-666">Wyślij</button>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
    jQuery("input").change(function () {
        var body_mass = document.getElementById('body_mass').value;
        var height = document.getElementById('height').value;
        var waist = document.getElementById('waist').value;
        var hips = document.getElementById('hips').value;
        var age = document.getElementById('age').value;

        if (body_mass && height){
            document.getElementById('BMI').value = body_mass / (height * height);
            if (age) {
                document.getElementById('PPM').value = 665.1 + 9.563 * body_mass + 1.85 * height - 4.676 * age
            }
        }
        if (waist){
            document.getElementById('WHR').value = waist / hips;
            if (body_mass) {
                document.getElementById('BF').value = ((1.634 * waist - 0.1804 * body_mass - 76.76) / 2.2 * body_mass) * 100
            }
        }
    })
    </script>
{% endblock %}