@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  #about_container1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 132px;
  }
  #about_container1 #intro_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  #about_container1 #intro_box img {
    display: block;
    margin: 0 auto;
  }
  #about_container1 #intro_box div {
    padding: 50px 20px 0px 20px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
  }
  #about_container1 #intro_box div h2 {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    color: #404040;
  }
  #about_container1 #intro_box div p {
    font-size: 16px;
    color: #404040;
    margin-top: 30px;
  }
  .wrap1 {
    background-color: #F8F8F8;
  }
  .about_wrap {
    width: 100%;
    padding-top: 30px;
  }
  .about_wrap #about_container2 {
    padding: 0px 0px 0px 0px !important;
    margin-top: 30px;
  }
  .about_wrap #about_container2 #photo2_onas {
    background-image: url("o_nas_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-position: center center;
    margin: 0 auto;
  }
  .about_wrap #about_container2 #onas_content2 {
    padding: 50px 40px 55px 40px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
  }
  .about_wrap #about_container2 #onas_content2 h2 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #404040;
  }
  .about_wrap #about_container2 #onas_content2 ul {
    font-size: 16px;
    color: #404040;
    margin-top: 30px;
    padding-left: 0px;
    list-style: none;
  }
  .about_wrap #about_container2 #onas_content2 ul li {
    margin-top: 25px;
  }
  .about_wrap #about_container3 {
    position: relative;
    padding: 0px;
  }
  .about_wrap #about_container3 #photo3_onas {
    background-image: url("o_nas_2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    margin-top: 50px;
  }
  .about_wrap #about_container3 #onas_content3 {
    padding: 50px 40px 55px 40px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
  }
  .about_wrap #about_container3 #onas_content3 h2 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #404040;
  }
  .about_wrap #about_container3 #onas_content3 ul {
    font-size: 16px;
    color: #404040;
    margin-top: 30px;
    padding-left: 0px;
    list-style: none;
  }
  .about_wrap #about_container3 #onas_content3 ul li {
    margin-top: 25px;
  }
}

@media (min-width: 992px) {
  #about_container1 {
    height: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 92px;
  }
  #about_container1 #intro_box {
    display: flex;
    align-items: flex-start;
    width: 930px;
  }
  #about_container1 #intro_box img {
    display: block;
  }
  #about_container1 #intro_box div {
    padding-left: 70px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
  }
  #about_container1 #intro_box div h2 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #404040;
  }
  #about_container1 #intro_box div p {
    font-size: 16px;
    color: #404040;
    margin-top: 30px;
  }
  .wrap1 {
    background-color: #F8F8F8;
  }
  .about_wrap {
    width: 100%;
  }
  .about_wrap #about_container2 {
    position: relative;
  }
  .about_wrap #about_container2 #photo2_onas {
    background-image: url("o_nas_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
    position: relative;
    top: -50px;
  }
  .about_wrap #about_container2 #onas_content2 {
    padding: 95px 0px 95px 00px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
  }
  .about_wrap #about_container2 #onas_content2 h2 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #404040;
  }
  .about_wrap #about_container2 #onas_content2 ul {
    font-size: 16px;
    color: #404040;
    margin-top: 30px;
    padding-left: 0px;
    list-style: none;
  }
  .about_wrap #about_container2 #onas_content2 ul li {
    margin-top: 25px;
  }
  .about_wrap #about_container3 {
    position: relative;
  }
  .about_wrap #about_container3 #photo3_onas {
    background-image: url("o_nas_2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    position: relative;
    top: 95px;
  }
  .about_wrap #about_container3 #onas_content3 {
    padding: 95px 100px 95px 00px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
  }
  .about_wrap #about_container3 #onas_content3 h2 {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #404040;
  }
  .about_wrap #about_container3 #onas_content3 ul {
    font-size: 16px;
    color: #404040;
    margin-top: 30px;
    padding-left: 0px;
    list-style: none;
  }
  .about_wrap #about_container3 #onas_content3 ul li {
    margin-top: 25px;
  }
}

@media (max-width: 576px) {
  #onas_content2 {
    padding: 0px 0px 0px 0px;
  }
}
