
   html,body{overflow-x: hidden; }
 
@media(max-width:579.98px){

    .content-wrap{
        .row{
            #address_content{
                display:flex;
                margin-top:150px;
                flex-direction: column;
                position:relative;
                top:-50px;

                align-items: flex-start;
                padding-top:50px;
                padding-bottom:50px;

                div{
                    width:260px;
                    position:relative;
                    left:27px;
}
            }
        }
    }
}

@media(min-width:576px){

    .content-wrap{
        .row{
            #address_content{
            
                align-items: center;
                justify-content:space-evenly;
                padding-top:50px;
                padding-bottom:50px;

            }
        }
    }
}


@media(min-width:576px) and (max-width:991px) {

    .content-wrap{
        .row{
            #address_content{
            
                #second_address{margin-top:0px !important}
            }
        }
    }
}


@media(max-width:991px){
 
    #desktop_header{ display:none;   }
    

    .content-wrap{
        .row{
            #address_content{
                background-color:#F8F8F8;
                display:flex;
                margin-top:150px;
                position:relative;
                top:-50px;
                align-items: flex-start;

                div{
                    width:260px;
                    h3{
                        font-size:28px;
                    text-transform: uppercase;
                    color:#404040;
                    font-weight:700;
                    }
                    p{
                        font-size:16px;
                        color:#404040;   
                        margin-top:20px; 
                    }
                }

                #second_address{
                    margin-top:50px;
                }
            }
            #form_content{
                padding-left:40px;
                padding-right:50px;
                -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;         /* Opera/IE 8+ */
                #form_wrapper{
                    width:100%;


                    h3{
                        text-transform: uppercase;
                        font-size:28px;
                        color:#404040;
                        font-weight:700;
                        margin-bottom:30px;
                    }

                    input, textarea{
                        background-color:#F1F1F1;
                        border-radius: 0px;
                        border:0px;
                        padding:15px 15px 15px 15px;
                        color:#646464;
                    }
                    .btn{
                        width:100%;
                        background-color:#95BF2F;
                        border-radius: 0px;
                        color:white;
                        text-transform: uppercase;
                        font-weight: 700;
                        letter-spacing: 3px;
                        height:50px;
                        cursor: pointer;
                    }
                    label{
                        color:#404040;
                        font-size:14px;
                    }
                    .captcha_submit_row{
                        margin-top:30px;
                        .captcha-container{
                            display:flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

    }

@media(min-width:992px){

    #desktop_header{
        height:650px;
        background-image:url("contact-bg.png");
        background-size:cover;
        background-position:center center;

        .row{
            height:100%;
            div{
                height:100%;
                position:relative;
                h2{
                    font-size:48px;
                    color:white;
                    text-transform:uppercase;
                    font-weight:700;
                    position:relative;
                    top:450px;
                    left:50px;
                }
            }
        }
    }
    

    .content-wrap{
        padding-bottom:50px !important;
        .row{
            #address_content{
                background-color:#F8F8F8;
                display:flex;
                align-items: flex-end;
                flex-direction: column;
                padding:150px 100px 150px 0px;
                position:relative;
                top:-50px;


                div{
                    width:260px;
                    h3{
                        font-size:28px;
                    text-transform: uppercase;
                    color:#404040;
                    font-weight:700;
                    }
                    p{
                        font-size:16px;
                        color:#404040;   
                        margin-top:20px; 
                    }
                }

                #second_address{
                    margin-top:50px;
                }
            }
            #form_content{
                padding-top:100px;
                padding-left:100px;
                #form_wrapper{
                    width:680px;


                    h3{
                        text-transform: uppercase;
                        font-size:28px;
                        color:#404040;
                        font-weight:700;
                        margin-bottom:30px;
                    }

                    input, textarea{
                        background-color:#F1F1F1;
                        border-radius: 0px;
                        border:0px;
                        padding:15px 15px 15px 15px;
                        color:#646464;
                    }
                    .btn{
                        width:100%;
                        background-color:#95BF2F;
                        border-radius: 0px;
                        color:white;
                        text-transform: uppercase;
                        font-weight: 700;
                        letter-spacing: 3px;
                        height:50px;
                        cursor: pointer;
                    }
                    label{
                        color:#404040;
                        font-size:14px;
                    }
                    .captcha_submit_row{
                        margin-top:30px;
                        .captcha-container{
                            display:flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }


}


.form_element_incorrect{
    border:1px solid #db310f !important;
}

.form_element_correct{
    border:1px solid #95BF2F !important;
}