#about li {font-size: 16px;}
#about img {border-radius: 25px;}

#user-update form  { display: table;      }
#user-update p     { display: table-row;  }
#user-update label { display: table-cell; }
#user-update input { display: table-cell; }

@media screen and (min-width: 992px) {#news-list {font-size: xx-small; opacity: 0.9;}}
@media screen and (max-width: 992px) {#news-list {display: none;}}
@media screen and (max-width: 992px) {#news-list-sm {display: block;}}
@media screen and (min-width: 992px) {#news-list-sm {display: none;}}

.navbar-toggler {
	position: fixed;
	top: 10px;
	right: 16px;
}

#id_content {
	position: center;
	overflow: auto;
	width: 100%;
}

#id_contact_email {
	position: center;
	overflow: auto;
	width: 100%;
}

#id_contact_name {
	position: center;
	overflow: auto;
	width: 100%;
}

.circle-text {
    width:50%;
	margin:0 auto;
}

.read-more {
	font-size: 80%;
	color: #868e96;
}

.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}
.container-fluid{
	padding:0px;

}

.headline_krok{
	font-weight:bold;
	font-size:24pt;
	margin:10px 0px 10px 0px;
}

.headline_desc{

	font-size:12pt;
	margin:20px 0px 10px 0px;
}

h1.divider{
	font-weight:normal;
	font-size:36pt;


}

h1.divider:after {
    content: '';
    margin:0 auto;
	top:20px;
    width: 80px;
    height: 5px;
    background: #58a314;
	display:block;
	position:relative;
	margin-bottom:20px;
}

h3{
	font-size:18pt;

}

.see_more {
	font-size:14pt;
	display:block;
	margin:20px 0px 0px 0px;

}

blockquote > p {

	font-size:12pt;
}

blockquote > h3 {


}

.navbar{

	background-color:white;
}

.quote_start:before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: relative;
  right:10px;
  top:25px;
}

.quote_start::after{
  /*Reset to make sure*/
  content: "";
}

html,body {
  width: 100%;
  height: 100%;
}
a {color: #58a314}

.btn-666{

	background-color:#58a314;
	border-radius:0;
	color:white;
}

.btn-666:hover{
		background-color:#79dd1e;
		color:white;
}

.see_more{
	color:#58a314;
	margin-bottom:40px;

}
.see_more:hover{
	color:#79dd1e;

}

/*Jak "see_more ale bez paddingu*/
.simple_link {
	color:#58a314;
}

.simple_link:hover {
	color:#79dd1e;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 575px) {

.logo-main {

	width:50%; height:50%;
}


}

@media (min-width: 576px) {

.logo-main {

	width:90%; height:90%;
}

}


div.top  h1{
	color:white;
	font-size:48pt;
}

div.top  h2{
	color:white;
	font-size:24pt;
	font-weight:normal;
}

div.top .btn{

	margin-top:10px;
}

div.top h3{
	color:white;
}

.cell{
	margin-top:20px;

}

.cell a {
	border:1px solid  #e6e6e6;
	display:block;
	padding:20px;
	width:100%;
	height:100%;
}

.cell a:hover {
	text-decoration:none;

}

.cell h1 {

	font-size: 25pt;
	margin-top:10px;
	color: #58a314;
	font-weight: normal;
}

#offer h1{

	font-size: 45pt;
	margin-top:10px;
	color: #58a314;
	font-weight:bold;
}

.cell h3  {
		font-size: 12pt;
		font-weight:normal;
		margin-top:5px;
		color:#5d5d5d;
}

#offer h3 {
		font-size: 14pt;
		font-weight:bold;
		margin-top:5px;
		color:#5d5d5d;


}

#offer span {
	font-size:10pt;
	padding-top:10px;
	display:block;

}

.cell span {

	background-color:#e3e3e3;
	position:relative; bottom:0;
	display:block; padding:10px 0 10px 0; margin-top:20px;
	color:#436a1f;
}


.form-intro{

	 height:100%; background-image:url('../gfx/survey-opinion-research-voting-fill-159353.jpg');  background-size:     cover;   background-repeat:   no-repeat;
    background-position: center bottom;



}

.form-intro:before{
  position: absolute;
  content:"";
  bottom:0;
  left:0;
  top:0;
  right:0;
  width:100%;
  height:100%;

  z-index:0;
  background-color: rgba(0,0,0,0.5);
}

.redirect{
	margin-top:20px;

}

.products-intro{

	 height:100%; background-image:url('../gfx/globuli-medical-bless-you-homeopathy-163186.jpg');  background-size:     cover;   background-repeat:   no-repeat;
    background-position: center bottom;



}

.products-intro:before{
  position: absolute;
  content:"";
  bottom:0;
  left:0;
  top:0;
  right:0;
  width:100%;
  height:100%;

  z-index:0;
  background-color: rgba(0,0,0,0.5);
}


table, th, td {
   border: 1px solid black;
}
a.menu_left {
	display:block;
	text-decoration:none;
	padding:8px 0 8px 10px;
	color:grey;

}

a.menu_left:hover {
	background-color:#f7f7f7;-
	text-decoration:none;
	color:black;

}

.fas{

	width:20px;
}

a.settings{
	position:absolute; display:block; top:10px; right:10px;
		color:white;
}

a.settings:hover{
	color:lightgrey;
}
h6{

	color:grey;
	font-weight: normal;
	font-size:12pt;
}

.miniaturka {

	 background-size:cover; background-position:center; width:40px; height:40px;
	display:inline-block;	vertical-align:middle; margin-right:10px
}

.odstep{

	padding:20px 0px 0px 30px;
}

ul.lista{
	 list-style-type: none;
    margin: 0;
    padding: 0;

}

.kafel{width:100%;
		height:100%;
		display:block;
		padding:20px 50px 20px 50px;

	color:white;
	background: linear-gradient(rgba(43,86,39,.8),rgba(43,86,39,.8));
	background-size:cover;
	}

a.kafel:hover{
		background: linear-gradient(rgba(34,66,30,.9),rgba(34,66,30,.9));
		text-decoration:none;
		color:white;

}

.dates{

color:white;
	font-size:12pt;
}
.author{

color:white;
margin-top:20px;
	font-size:12pt;
}

.place{

	font-weight:bold;
}

.opiekun > div {

	color:#b7b5b5;
	font-size:12pt;
}

.opiekun > a {

color:black;
font-weight:bold;

}

a.email {

	color:white;
	text-decoration:none;
}

a.email:hover {

	color:#d6d6d6;
	text-decoration:none;
}

/*Style użyte w liscie uzytkowników w profilu osobistym*/
.linki a{
	margin-left:20px;

}

div.linki > a{
	color:grey;
}

div.linki > a:hover{
	color:black;
	text-decoration:none;
}

ul.lista > li{

	padding: 10px 0px 10px 10px;
	border-bottom:1px solid lightgrey;
}
ul.lista > li:first-child{
	border-top:1px solid lightgrey;

}

/*Przycisk powrotu użyty np. w landingpage-ach*/
.back-button {
	position: fixed;
	bottom: 0;
	right: 0;
}

.form-error {
	color: red;
	font-weight: bolder;
}

.form-error > ul {
	padding-left: 0;
	list-style: none;
}

div.answers_block {
	margin-top:15px;
}


div.answers_block > .question {
font-size:16pt;
font-weight:500;
}

@media screen and (min-width: 992px) {
		#article-container {
			margin: 0 15px 0 15px;
		}
		#article-opinions {
			margin-top: 3rem;
		}
		#article-products {
			margin-top: 3rem;
		}
}

@media screen and (max-width: 992px) {
	#article-container {
		flex-direction: column;
	}
	#article-description {
		order: 1;
	}
	#article-products {
		order: 2;
	}
	#article-opinions {
		order: 3;
	}
}

#article-products {
	
}

div.answers_block > .answer {
	font-size:12pt;
	color:#888888;
	margin-top:5px;
	margin-bottom:5px;
	}

	.survey-divider{
		margin-top:20px;
		margin-bottom:20px;
	}

	.survey_header{
		font-size:36pt;
		font-weight:700;
	}

	.survey_link{
		margin-bottom:5px !important;
		margin-top:5px !important;
	}

	.survey_links{
margin-bottom:50px;
margin-top:50px;
	}


	.greyed{
		
	color:#888888;
	margin-bottom:30px;
	}

#nav-item-articles {

}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}