
.circle-text {
    width:50%;
	margin:0 auto;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}
.container-fluid{
	padding:0px;

}

.headline_krok{
	font-weight:bold;
	font-size:24pt;
	margin:10px 0px 10px 0px;
}

.headline_desc{

	font-size:12pt;
	margin:20px 0px 10px 0px;
}

h1.divider{
	font-weight:normal;
	font-size:36pt;


}

h1.divider:after {
    content: '';
    margin:0 auto;
	top:20px;
    width: 80px;
    height: 5px;
    background: #58a314;
	display:block;
	position:relative;
	margin-bottom:20px;
}

h3{
	font-size:18pt;

}

.see_more {
	font-size:14pt;
	display:block;
	margin:20px 0px 0px 0px;

}

blockquote > p {

	font-size:12pt;
}

blockquote > h3 {


}

.navbar{

	background-color:white;
}

.quote_start:before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: relative;
  right:10px;
  top:25px;
}

.quote_start::after{
  /*Reset to make sure*/
  content: "";
}

html,body {
  width: 100%;
  height: 100%;
}

.btn-666{

	background-color:#58a314;
	border-radius:0;
	color:white;
}

.btn-666:hover{
		background-color:#79dd1e;
		color:white;
}

.see_more{
	color:#58a314;
	margin-bottom:40px;

}
.see_more:hover{
	color:#79dd1e;

}


.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 575px) {

.logo-main {

	width:50%; height:50%;
}


}

@media (min-width: 576px) {

.logo-main {

	width:90%; height:90%;
}

}


div.top  h1{
	color:white;
	font-size:48pt;
}

div.top  h2{
	color:white;
	font-size:24pt;
	font-weight:normal;
}

div.top .btn{

	margin-top:10px;
}

div.top h3{
	color:white;
}

.cell{
	margin-top:20px;

}

.cell a {
	border:1px solid  #e6e6e6;
	display:block;
	padding:20px;
	width:100%;
	height:100%;
}

.cell a:hover {
	text-decoration:none;

}

.cell h1 {

	font-size: 25pt;
	margin-top:10px;
	color: #58a314;
	font-weight: normal;
}

#offer h1{

	font-size: 45pt;
	margin-top:10px;
	color: #58a314;
	font-weight:bold;
}

.cell h3  {
		font-size: 12pt;
		font-weight:normal;
		margin-top:5px;
		color:#5d5d5d;
}

#offer h3 {
		font-size: 14pt;
		font-weight:bold;
		margin-top:5px;
		color:#5d5d5d;


}

#offer span {
	font-size:10pt;
	padding-top:10px;
	display:block;

}

.cell span {

	background-color:#e3e3e3;
	position:relative; bottom:0;
	display:block; padding:10px 0px 10px 0px; margin-top:20px;
	color:#436a1f;
}


.form-intro{

	 height:100%; background-image:url('../gfx/survey-opinion-research-voting-fill-159353.jpg');  background-size:     cover;   background-repeat:   no-repeat;
    background-position: center bottom;



}

.form-intro:before{
  position: absolute;
  content:"";
  bottom:0;
  left:0;
  top:0;
  right:0;
  width:100%;
  height:100%;

  z-index:0;
  background-color: rgba(0,0,0,0.5);
}

.redirect{
	margin-top:20px;

}

.products-intro{

	 height:100%; background-image:url('../gfx/globuli-medical-bless-you-homeopathy-163186.jpg');  background-size:     cover;   background-repeat:   no-repeat;
    background-position: center bottom;



}

.products-intro:before{
  position: absolute;
  content:"";
  bottom:0;
  left:0;
  top:0;
  right:0;
  width:100%;
  height:100%;

  z-index:0;
  background-color: rgba(0,0,0,0.5);
}

a.menu_left {
	display:block;
	text-decoration:none;
	padding:8px 0px 8px 10px;
	color:grey;

}

a.menu_left:hover {
	background-color:#f7f7f7;-
	text-decoration:none;
	color:black;

}

.fas{

	width:20px;
}

a.settings{
	position:absolute; display:block; top:10px; right:10px;
		color:white;
}

a.settings:hover{
	color:lightgrey;
}
h6{

	color:grey;
	font-weight: normal;
	font-size:12pt;
}

.miniaturka {

	 background-size:cover; background-position:center; width:40px; height:40px;
	display:inline-block;	vertical-align:middle; margin-right:10px
}

.odstep{

	padding:20px 0px 0px 30px;
}

ul.lista{
	 list-style-type: none;
    margin: 0;
    padding: 0;

}

.kafel{width:100%;
		height:100%;
		display:block;
		padding:20px 50px 20px 50px;

	color:white;
	background: linear-gradient(rgba(43,86,39,.8),rgba(43,86,39,.8));
	background-size:cover;
	}

a.kafel:hover{
		background: linear-gradient(rgba(34,66,30,.9),rgba(34,66,30,.9));
		text-decoration:none;
		color:white;

}

.dates{

color:white;
	font-size:12pt;
}
.author{

color:white;
margin-top:20px;
	font-size:12pt;
}

.place{

	font-weight:bold;
}

.opiekun > div {

	color:#b7b5b5;
	font-size:12pt;
}

.opiekun > a {

color:black;
font-weight:bold;

}

a.email {

	color:white;
	text-decoration:none;
}

a.email:hover {

	color:#d6d6d6;
	text-decoration:none;
}

.linki a{
	margin-left:20px;

}

div.linki > a{
	color:grey;
}

div.linki > a:hover{
	color:black;
	text-decoration:none;
}

ul.lista > li{

	padding: 10px 0px 10px 10px;
	border-bottom:1px solid lightgrey;
}
ul.lista > li:first-child{
	border-top:1px solid lightgrey;

}