#chat-messages > div > p > img {
    max-width: 100%;
    height: auto !important;
}

#chat-form, #chat-div {
    display: none;
}

#chat-div {
    height:200px;
    width:100%;
    border:1px solid #ccc;
    overflow:auto;
    margin-top: 1em;
}

#chat-form {
    margin-top: 5px;
}

img {
    cursor: zoom-in;
}

@media (min-width: 576px) {
  #send-message {
      margin-top: 10px;
  }
}