{% extends 'base.html' %}

{% block content %}
    <div class="container text-center" style="margin-top: 87px;">
    <h1>Dziękujemy za uzupełnienie ankiety.</h1>
    <h3><a href="{% url 'profile:user-profile' %}">Przejdź do swojego profilu</a></h3>
    </div>
{% endblock %}