{% extends 'base.html' %}

{% block head_title %}{{ block.super }}{% endblock %}

{% block extra_style %}

    <style>
/* mPopup box style */
.mpopup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 120px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.mpopup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.mpopup-head {
    padding: 6px 16px;
    background-color: #436a1f;
    color: white;
}
.mpopup-main {padding: 20px 16px;}
.mpopup-main input {text-align:center;}
.mpopup-foot {
    padding: 2px 16px;
    background-color: #436a1f;
    color: #ffffff;
}

/* add animation effects */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* close button style */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
{% endblock %}

{% block meta_tags %}
    {{ block.super }}
    <meta property="og:title" content="{{ landingpage.promo_heaer }}" />
    <meta property="og:description" content="{{ landingpage.description|truncatewords:6|striptags|safe }}" />
    <meta property="og:image" content="http://sciezkidozdrowia.pl{{ landingpage.promo_image.url }}" />
{% endblock %}   

{% block content %}


{% if landingpage.ask_for_info %}
<script>
    function subscriptionPopup(){
        var mpopup = $('#mpopupBox');
        mpopup.show();
        
        // close the mPopup once close element is clicked
        $(".close").on('click',function(){
            mpopup.hide();
        });

        // close the mPopup when user clicks outside of the box
        $(window).on('click', function(e) {
            if(e.target == mpopup[0]){
                mpopup.hide();
            }
    });
}
</script>

<div id="mpopupBox" class="mpopup text-center">
    <!-- mPopup content -->
    <div class="mpopup-content">
        <div class="mpopup-head">
            <span class="close">×</span>
            <h2>Dołącz do naszej społeczności</h2>
        </div>
        <div class="mpopup-main">
            <form method="post">
                {% csrf_token %}
                <p><input type="text" name="name" placeholder="Podaj swoje imię"/></p>
                <p><input type="email" name="email" placeholder="Podaj swój email" required/></p>
                <p><input type="hidden" name="landingpage_id" value="{{ landingpage.id }}"/></p>
                <p><button class="btn btn-666" type="submit">Wejdź</button></p>
            </form>
        </div>
        <div class="mpopup-foot">
            <p>&nbsp;</p>
        </div>
    </div>
</div>
{% endif %}
<div class="container" style="margin-top:150px">
	<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11" >
            {{ landingpage.description|safe }}
	    </div>
        <div class="col-12 text-center">
            {% if landingpage.ask_for_info %}
                <button class="btn btn-666" onclick="subscriptionPopup()">Chcę wiedzieć więcej</button>
            {% endif %}
        </div>
    </div>
</div>



{% include 'snippets/go_back_button.html' %}

{% endblock %}
