{% load static %}


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet">
<link href="{% static 'css/layout.css'%}" rel="stylesheet">
<link href="{% static 'css/bootstrap-theme.css'%}" rel="stylesheet">
<link href="{% static 'css/animate.css'%}" rel="stylesheet">
<link href="{% static 'css/hover.css'%}" rel="stylesheet">
