{% load static %}


<script src="{% static 'js/wow.min.js' %}"></script>

       <script>
       new WOW().init();
       </script>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/smooth-scroll.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{#Ten plik zmienia label z "Choose File" na dowolny inny#}
<script src="{% static 'js/bootstrap-filestyle.min.js' %}"></script>
<script src="{% static 'js/newsletter_join.js' %}"></script>
