{% extends 'base.html' %}
{% block head_title %}{{ block.super }} - {{ article.name }}{% endblock %}

{% block meta_tags %}
    {{ block.super }}
    <meta property="og:title" content="{{ article.name }}" />
    <meta property="og:description" content="{{ article.description|truncatewords:6|striptags|safe }}" />
    <meta property="og:image" content="http://sciezkidozdrowia.pl{{ article.image_url }}" />
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top:150px;">
	<div class="row justify-content-center" id="article-container">

            <div class="col-lg-2" id="article-opinions">
                {% if article.opinions.all %}
                    <h3 class="text-center" style="color: green;">Opinie</h3><br>
                    {% for opinion in article.opinions.all  %}
                        <span>
                            <a href="{{ opinion.get_absolute_url }}">{{ opinion.name }}</a><br>
                            {{ opinion.description|striptags|safe|truncatewords:10 }}
                            <a href="{{ opinion.get_absolute_url }}" class="read-more justify-content-right">Czytaj dalej</a>
                        </span>
                        <footer class="blockquote-footer">
                            {{ opinion.author }}
                        </footer>
                        <br><br>
                    {% endfor %}
                {% endif %}

                {% if article.related_articles.all %}
                <h3 class="text-center" style="color: green;">Artykuły</h3><br>
                    {% for related_article in article.related_articles.all %}
                        <span>
                            <a href="{{ related_article.get_absolute_url }}">{{ related_article.name }}</a><br>
                            {{ related_article.description|striptags|safe|truncatewords:10 }}
                        </span>
                        <br><br>
                    {% endfor %}
                {% endif %}
            </div>

			<div class="col-lg-8" id="article-description">
				<blockquote class="blockquote wow fadeIn" >
                <img src="{{ article.image_url }}" class="img-fluid" style="display: block; margin: auto;"
                 width="220" height="220">

				  <h1 class="text-center" style="color: green;">{{ article.name }}</h1><br>
                    <p class="mb-0 text-justify">{{ article.description|safe }}</p>
				  <a href="{{ request.META.HTTP_REFERER }}" class="see_more text-center">Powrót</a>
				</blockquote>
            </div>

            <div class="col-lg-2" id="article-products">
                {% if article.related_products.all %}
                    <h3 class="text-center" style="color: green;">Produkty</h3><br>
                    {% for product in article.related_products.all %}
                        <span>
                            <img class="img-fluid  wow fadeIn" src="{{ product.image_url }}"/>
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                            {{ product.description|striptags|safe|truncatewords:10 }}
                        </span>
                        <br><br>
                    {% endfor %}
                {% endif %}
            </div>

    </div>
</div>
{% endblock %}