{% extends 'base.html' %}

{% block content %}
<br><br><br><br><br><br>
<div class="container text-center">
  <h3>Aby przeglądać treści tajne <a href="{% url 'signup' %}">zarejestruj się</a></h3>
  <h5>Następnie <a href="{% url 'contact' %}">skontaktuj się</a> z administracją o przyznanie dostępu</h5>
</div>
{% endblock %}