{% extends 'base.html' %}
{% load static %}

{% block head_title %}O nas - {{ block.super }}{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="{% static 'css/about_us.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="about_container1">
    <div id="intro_box">
        <img src="{% static 'gfx/intro_photo.png' %}">
        <div>
          <h2>Cześć, to ja - Marta</h2>
          <p>Jestem doradcą dietetycznym i trenerem zdrowia.<br><br>
            Od kilku lat prowadzę firmę specjalizującą się w oczyszczaniu i przywracaniu organizmu do stanu równowagi. Ale doświadczenie w tej dziedzinie zdobywałam już dużo wcześniej.<br><br>
            W czym mogę Tobie pomóc?<br><br>          
            Zależy, kim jesteś, i jakie masz oczekiwania.</p>
        </div>
  
    </div>
  </div>
  
  
  <div class="about_wrap wrap1">
    <div id="about_container2" class=" container">
      <div class="row">
        <div class="col-12 col-lg-6" >
          <div id="photo2_onas"></div>
        </div>
        <div class="col-12 col-lg-5 offset-lg-1 " id="onas_content2">
          <h2>Jeśli jesteś...</h2>
          <ul>
            <li>...a właściwie jeśli jeszcze Ciebie nie ma, mieszkasz w brzuszku u swojej Mamy, albo jeśli jesteś dopiero w planach swoich rodziców, to powiemy im, jak się przygotować na to, żebyś mógł się począć, żebyś mógł prawidłowo wytworzyć wszystkie organy i żebyś nie dokuczał mamie, kiedy będziesz w niej mieszkał.</li>
            <li>Niemowlakiem a masz problemy z kolką, zaparciem, bólem brzuszka, wyjaśnimy Twojej Mamie w jaki sposób postępować</li>
            <li>Dzieckiem do 10 roku życia, pomożemy Twoim Rodzicom oczyścić Twój organizm z pasożytów, wzmocnić odporność, odbudować Twoją florę bakteryjną i odżywić Twoje komórki, po to, byś rósł i prawidłowo się rozwijał       </li>
            <li>Kobietą lub facetem między 10 a 110 rokiem życia, podpowiemy, jak skutecznie doprowadzić swój organizm do porządku: odżywianiem, oczyszczaniem, nawadnianiem. Jak możesz zadbać o najcenniejszy skarb, jaki posiadasz czyli zdrowie</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="about_wrap">
    <div id="about_container3" class=" container">
      <div class="row">
        <div class="col-md-5 order-2 order-lg-1" id="onas_content3">
          <h2>Prowadzę:</h2>
          <ul>
            <li>Program „Zanim Zajdziecie” również na grupie FB <a href="https://www.facebook.com/groups/122580668433969">„Zanim zajdziecie - przygotowanie do rodzicielstwa”</a></li>
            <li>Grupę FB <a href="https://www.facebook.com/groups/robaleicodalej">„Robale…. i co dalej?”</a> gdzie uczymy jak bezpiecznie i naturalnie pozbyć się pasożytów;</li>
            <li>Fan page <a href="https://www.facebook.com/sciezkidozdrowia">„Ścieżki zdrowia”</a> gdzie dzielimy się pomysłami na zdrowe jedzenie i zdrowy styl życia;</li>
            <li>Porady za pośrednictwem wszystkich dostępnych nam sił i środków w tym Skype, Messenger, Telefon a także na żywo w naszym gabinecie, gdzie zapraszamy by się spotkać i porozmawiać</li>
          </ul>
        </div>
        <div class="col-md-6 offset-md-1 order-1  order-lg-2"  >
          <div id="photo3_onas"></div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}