{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151933945-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-151933945-1');
    </script>

    {% block meta_tags %}
    <meta property="og:site_name" content="Ścieżki zdrowia - oczyszczanie układu pokarmowego, dieta oczyszczająca" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:app_id" content="100181074154385" />

    <meta name="keywords" content="Ścieżki Zdrowia, Odrobaczanie, Detoks">
    <meta name="author" content="Ścieżki Zdrowia, Marta Mularska">
    <meta charset="UTF-8">
    {% endblock %}

    {% block extra_style %}{% endblock %}

  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" />

    <title>{% block head_title %}Ścieżki zdrowia{% endblock %}</title>
    {% include 'snippets/css.html' %}
  	<?php
    	header('X-Frame-Options: GOFORIT'); 
	?>
  	<script type="text/javascript" src="{% static 'js/expandCollapse.js' %}"></script>

</head>

<body id="page-top">

    {% include 'nav.html' %}



    {% block content %}{% endblock %}

    {% block opinions %}{% endblock %}  {# tylko dla strony głównej #}

    {% block footer %}{% endblock %}

    {% include 'snippets/js.html' %}

    {% block extra_js %}
    {% endblock %}
</body>

</html>
