<!--- nawigacja start -->

{% load static %}

	<nav id="main-nav" class="navbar navbar-expand-lg navbar-light fixed-top" style="width:100%;">
	  <a class="navbar-brand" href="{% url 'home:list' %}">
		<img src="{% static 'gfx/sciezki_zdrowia_logo.png' %}" alt="Ścieżki Zdrowia - logo" class="logo-main" alt="">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav navbar-right ml-auto mt-1 mt-lg-0">
            <li class="nav-item">
               <a class="nav-link hvr-underline-from-center" href="{% url 'about' %}">O nas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center"  href="{% url 'news:list' %}">Aktualności</a>
            </li>
            <li class="dropdown" id="articles_category">
               <a class="nav-link hvr-underline-from-center"  href="#">Przewodnik</a>
            </li>
  
            <li class="dropdown" id="recipe_category">
                <a class="nav-link hvr-underline-from-center" href="#">Kuchnia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center"  href="{% url 'supplements:list' %}">Produkty</a>
            </li>
            <li class="nav-item" style="margin-right: 30px;">
                <a class="nav-link hvr-underline-from-center"  href="{% url 'contact' %}">Kontakt</a>
            </li>
					{% if user.is_authenticated %}
                    {% if not user.is_subscriber %}
                        <li class="nav-item">
                            <a class="nav-link hvr-underline-from-center" id="send_newsletter_welcome" data-href="{% url 'newsletter:send_newsletter_welcome' %}"><b>Zapisz się do Newslettera</b></a>
                        </li>
                    {% endif %}
					<li class="nav-item">
                        <a class="nav-link hvr-underline-from-center"  href="{% url 'logout' %}"><b>Wyloguj</b></a>
                    </li>
					<li class="nav-item">

                       <a class="nav-link hvr-underline-from-center "  href="{% url 'profile:user-profile' %}">
                           {% if user.avatar %}
                                <img style="width: 28px; height: 28px;" class="rounded-circle" src="{{ user.avatar.url }}">
                           {% else %}
                               <b>{{ user.first_name }} {{ user.last_name }}</b>
                           {% endif %}
                       </a>


                    </li>


                    {% endif %}


					 {% if not user.is_authenticated %}
					<li class="nav-item">
                        <a class="nav-link hvr-underline-from-center"  href="{% url 'login' %}"><b>Zaloguj</b></a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link hvr-underline-from-center "  href="{% url 'signup' %}"><b>Zarejestruj</b></a>
                    </li>
					  {% endif %}

		</ul>

	  </div>
	</nav>

<script id="dropdown-skrypt" type="text/javascript" data-url="{% url 'navbar' %}" src="{% static '/js/dropdown.js' %}"></script>
<!-- nawigacja end --------->
