{% extends 'base.html' %}

{% block content %}
  <div style="margin-top: 7em;" class="container">
   <div style="text-align: center;">
			<h2>
				POLITYKA Prywatności.<br />
				Przetwarzanie i Ochrona Danych Osobowych</h2>
		</div>
		<p>
			Administratorem danych osobowych (w rozumieniu ROZPORZĄDZENIA PARLAMENTU EUROPEJSKIEGO I RADY (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony os&oacute;b fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (og&oacute;lne rozporządzenie o ochronie danych) &ndash; zwane dalej RODO ) w odniesieniu do danych osobowych Użytkownik&oacute;w STRONY jest<br />
			&nbsp;</p>
		<div style="text-align: center;">
			<b>Ścieżki Zdrowia Sp. z o.o.</b></div>
		<div style="text-align: center;">
			Adres:<b>&nbsp;ul. B. Limanowskiego 5/4, 33-100 Tarn&oacute;w</b></div>
		<div style="text-align: center;">
			e-mail:<b>&nbsp;<a href="mailto:sciezkizdrowia@gmail.com ">sciezkizdrowia@gmail.com</a></b></div>
		<p>
			Firma wpisana do Krajowego Rejestru Sądowego pod numerem&nbsp;<b>KRS: 0000578398</b>&nbsp;Firma posiada nadane numery ewidencyjne:&nbsp;<b>REGON: 362643542, NIP: 8733255993</b></p>
		<ol>
			<li>
				Podanie danych osobowych, a także zgoda na ich przetwarzanie są całkowicie dobrowolne. Wszelkie przekazane nam dane osobowe są przetwarzane wyłącznie w zakresie i celu, na jaki Użytkownik wyraził zgodę. W przypadku, gdy Użytkownik nie poda niezbędnych do realizacji usługi danych i nie wyrazi zgody na ich przetwarzanie, zrealizowanie usługi może być niemożliwe.</li>
			<li>
				Administrator zapewnia bezpieczeństwo przekazanych danych oraz realizację uprawnień Użytkownik&oacute;w, wynikających z rozporządzenia RODO.</li>
			<li>
				Użytkownik ma prawo dostępu do treści swoich danych osobowych oraz żądania ich sprostowania lub całkowitego usunięcia lub ograniczenia prawa przetwarzania swoich danych osobowych.
				<ul>
					<li>
						- jeżeli podstawą przetwarzania była udzielona zgoda osoby - to zgoda może być odwołana w każdym momencie,</li>
					<li>
						- jeżeli podstawą prawną jest niezbędność przetwarzania danych do wykonania umowy - usunięcie danych może być niemożliwe - jeżeli przetwarzanie jest wymagane przez obowiązujące przepisy (np. finansowo-księgowe)</li>
					<li>
						- jeżeli podstawą prawną jest prawnie usprawiedliwiony interes Administratora to Użytkownik posiada prawo do wniesienia sprzeciwu przeciwko przetwarzaniu jego danych.</li>
				</ul>
				Dla realizacji w/w żądań można skorzystać z funkcji w programie serwisu aktualizacji danych konta użytkownika lub proszę wysłać zgłoszenie (np. na podany adres e-mail) z określeniem żądania wprowadzenia zmian lub usunięcia danych z ewidencji. Użytkownik ma prawo do odwołania swojej zgody w każdym momencie.</li>
			<li>
				ADMINISTRATOR może odm&oacute;wić usunięcia danych Użytkownika wyłącznie w przypadkach wskazanych przez obowiązujące przepisy, w szczeg&oacute;lności jeżeli Użytkownik nie uregulował wszystkich należności wobec ADMINISTRATORA.</li>
			<li>
				Dane osobowe Użytkownik&oacute;w, przetwarzane są w celu nawiązania, ukształtowania, zawarcia, zmiany lub rozwiązania Umowy pomiędzy ADMINISTRATOREM i Użytkownikiem o świadczenie Usługi elektronicznej opisanej w REGULAMINIE .</li>
			<li>
				Użytkownik może otrzymywać informacje marketingowe i handlowe (w formie &quot;newsletter&quot;), jeśli wyrazi na to zgodę. Użytkownik może w każdej chwili zrezygnować z otrzymywania informacji handlowych.</li>
			<li>
				Dane osobowe Użytkownik&oacute;w mogą być przekazywane podmiotom trzecim tylko w zakresie niezbędnym do zrealizowania zobowiązania wobec Użytkownika.</li>
			<li>
				Dane osobowe mogą być przekazane innym podmiotom, jeżeli wynika to z innych przepis&oacute;w lub prawnych obowiązk&oacute;w Administratora.</li>
			<li>
				Administrator może prosić o podanie następujących danych osobowych Użytkownika:
				<ul>
					<li>
						nazwisko i imię;</li>
					<li>
						adres do wysyłki produkt&oacute;w;</li>
					<li>
						adres e-mail;</li>
					<li>
						numer telefonu kontaktowego.</li>
				</ul>
			</li>
			<li>
				Dane osobowe są przetwarzane wyłącznie przez okres niezbędny do realizacji celu, dla kt&oacute;rego zgoda była udzielona.
				<ul>
					<li>
						- dla utrzymania konta w bazie Serwisu Internetowego - dane te będziemy przetwarzać tak długo dop&oacute;ki Użytkownik nie cofnie udzielonej zgody;</li>
					<li>
						- dane w dokumentach sprzedaży - przez okres wymagany przepisami o księgowości;</li>
					<li>
						- adres e-mail wykorzystywany do rozsyłania biuletynu informacyjnego - przez okres ważności zgody użytkownika. Zgoda może być cofnięta w każdej chwili;</li>
					<li>
						- dane adresowe wykorzystywane do przesyłania informacji marketingowej dotyczącej usług własnych Administratora - (podstawą przetwarzania jest uzasadniony interes prawny Administratora - art. 6 ust. 1 lit. f RODO). Dane te będziemy przetwarzać tak długo, dop&oacute;ki Użytkownik nie złoży sprzeciwu wobec przetwarzania danych w tym celu.</li>
				</ul>
			</li>
			- po tym okresie są usuwane
			<li>
				Użytkownikowi przysługuje prawo wniesienia skargi do organu nadzorczego &ndash; Urzędu Ochrony Danych Osobowych (UODO) jeżeli ma zastrzeżenia do przetwarzania jego danych osobowych przez ADMINISTRATORA.</li>
		</ol>
		<h2>
			Polityka dotycząca wykorzystania cookies</h2>
		<p>
			Niniejsza Polityka określa zasady tworzenia, przechowywania i dostępu do informacji na urządzeniach Użytkownika za pomocą plik&oacute;w Cookies w celu zrealizowania drogą elektroniczną usług żądanych przez Użytkownika. Zasady użytkowania cookies oparte są o postanowienia Ustawy z dnia 16 lipca 2004 r. Prawo telekomunikacyjne - wraz z p&oacute;źniejszymi zmianami.</p>
		<h3>
			I. Informacja og&oacute;lna o cookies</h3>
		<ol>
			<li>
				Administrator w celu świadczenia usług drogą elektroniczną tworzy i przechowuje tymczasowe pliki i uzyskuje dostęp do wybranych informacji w urządzeniach Użytkownika.</li>
			<li>
				Cookies - oznacza dane binarne, najczęściej niewielkie pliki tekstowe, zapisywane i przechowywane na urządzeniach Użytkownika, kt&oacute;re są wykorzystywane w językach programowania do sprawniejszej komunikacji serwisu internetowego i użytkownika.</li>
			<li>
				Pliki Cookies tworzone na urządzeniach użytkownika mogą pochodzić zar&oacute;wno z systemu Administratora (t.zw. Cookies własne) jak i też z zewnętrznych program&oacute;w nadzorujących komunikację w internecie (t.zw. Cookies zewnętrzne np. pochodzące z serwis&oacute;w Google i innych).</li>
			<li>
				Użytkownik ma możliwość ograniczenia lub wyłączenia dostępu plik&oacute;w cookies do swojego Urządzenia. W przypadku skorzystania z tej opcji korzystanie z Serwisu będzie możliwe, poza funkcjami, kt&oacute;re ze swojej natury wymagają plik&oacute;w cookies.</li>
			<li>
				Jeżeli użytkownik po zapoznaniu się z niniejszą informacją pozostawi ustawienia aktualnie używanego urządzenia końcowego (w szczeg&oacute;lności ustawienia przeglądarki)zezwalające na stosowanie cookies to w myśl art.173 ust.2 użytkownik wyraził zgodę na wykorzystywanie cookies na aktualnie przeglądanej stronie i podstronach.</li>
		</ol>
		<h3>
			II. Cele stosowania cookies</h3>
		<ol>
			<li>
				Ciasteczka i podobne technologie używane są w witrynach internetowych w celu zapewnienia poprawnej transmisji danych pomiędzy połączonymi komputerami. Mają one bardzo szerokie zastosowanie , pomagają dostosować zawartość strony ustawień w komputerze odbiorcy, zapamiętują preferowany wygląd strony, np. ustawiony rozmiar czcionki, zapewniają wykonanie przez użytkownika kilku etapowych czynności. Ciasteczka mogą też być wykorzystywane do dopasowania wyświetlanych reklam do zainteresowań odwiedzających witryny. Można powiedzieć, że technologia &bdquo;ciasteczek&rdquo; jest niezbędna do prawidłowego wyświetlania stron interaktywnych.</li>
			<li>
				Opr&oacute;cz ciasteczek wysyłanych ze strony z kt&oacute;ra się łączymy, pliki cookies mogą być wysyłane także z serwer&oacute;w stron, do kt&oacute;rych się odwołują, np. Google, YouTube czy serwisy społecznościowe jak Facebook, Twitter i inne.</li>
			<li>
				Najog&oacute;lniej możemy podzielić Cookies na dwa typy plik&oacute;w:
				<ul>
					<li>
						cookies sesyjne: są przechowywane na Urządzeniu Użytkownika i pozostają tam do momentu zakończenia sesji danej przeglądarki. Zapisane informacje są w&oacute;wczas trwale usuwane z pamięci Urządzenia. Mechanizm cookies sesyjnych nie pozwala na pobieranie jakichkolwiek danych osobowych ani żadnych informacji poufnych z Urządzenia Użytkownika;</li>
					<li>
						cookies trwałe: są przechowywane na Urządzeniu Użytkownika i pozostają tam do momentu ich skasowania. Zakończenie sesji danej przeglądarki lub wyłączenie Urządzenia nie powoduje ich usunięcia z Urządzenia Użytkownika. Mechanizm cookies trwałych nie pozwala na pobieranie jakichkolwiek danych osobowych ani żadnych informacji poufnych z Urządzenia Użytkownika.</li>
				</ul>
			</li>
			<li>
				W normalnej sytuacji stosowane Cookies są bezpieczne dla użytkownika. Przy prawidłowym ich stosowaniu nie jest możliwe przedostanie się do Urządzeń Użytkownik&oacute;w wirus&oacute;w lub innego niechcianego oprogramowania lub oprogramowania złośliwego. Pliki te pozwalają zidentyfikować oprogramowanie wykorzystywane przez Użytkownika. Cookies zazwyczaj zawierają nazwę domeny z kt&oacute;rej pochodzą, czas przechowywania ich na Urządzeniu (jest ograniczony) oraz przypisaną wartość (klucz).</li>
			<li>
				Pliki cookies nie gromadzą żadnych danych osobowych, w tym nazwisk i adres&oacute;w e-mail.</li>
		</ol>
<a href="{{ request.META.HTTP_REFERER }}" class="see_more">Powrót do strony głównej</a>
    <br>
</div>

      
{% endblock %}