{% extends 'base.html' %}

{% block content %}

<div class="container" style="margin-top: 7em;">
<div style="text-align: center;">
			<h2>
				REGULAMIN SERWISU INTERNETOWEGO</h2>
		</div>
		<p>
			Regulamin określa zasady korzystania z funkcjonalności internetowej działającego pod domeną:&nbsp;<b><a href="http://www.sciezkidozdrowia.pl/" target="_blank">www.sciezkidozdrowia.pl</a></b>. Jest dokumentem wymaganym w świetle art. 13 ustawy z dnia 30 maja 2014 r. o prawach KONSUMENTA (Dz. U. 2014, poz. 827)<br />
			ADMINISTRATOREM serwisu internetowego jest firma:<br />
			&nbsp;</p>
		<div style="text-align: center;">
			<b>Ścieżki Zdrowia Sp. z o.o.</b></div>
		<div style="text-align: center;">
			Adres:<b>&nbsp;ul. B. Limanowskiego 5/4, 33-100 Tarn&oacute;w</b></div>
		<div style="text-align: center;">
			Adres do KORESPONDENCJI i PRZESYŁEK:<b>&nbsp;jak wyżej</b></div>
		<div style="text-align: center;">
			tel.<b>&nbsp;+48 793243956, 608683570</b></div>
		<div style="text-align: center;">
			e-mail:<b>&nbsp;<a href="mailto:sciezkizdrowia@gmail.com" target="_blank">sciezkizdrowia@gmail.com</a></b></div>
		<p>
			Firma wpisana do Krajowego Rejestru Sądowego pod numerem&nbsp;<b>KRS: 0000578398</b>&nbsp;Firma posiada nadane numery ewidencyjne:&nbsp;<b>REGON: 362643542, NIP: 8733255993</b>&nbsp;<br />
			&nbsp;</p>
		<h3>
			A. Definicje</h3>
		<ol>
			<li>
				<b>SERWIS INTERNETOWY -&nbsp;</b>oznacza funkcjonalności na stronie&nbsp;<a href="http://www.sciezkidozdrowia.pl/" target="_blank">www.sciezkidozdrowia.pl</a>. Jeżeli ze strony korzysta KONSUMENT to odbywa się na warunkach opisanych w ustawie z dnia 30 maja 2014 r. o prawach KONSUMENTA (Dz. U. 2014, poz. 827).</li>
			<li>
				<b>UŻYTKOWNIK&nbsp;</b>osoba fizyczna, a także osoba prawna oraz jednostka organizacyjna niebędąca osobą prawną, kt&oacute;rej przepisy szczeg&oacute;lne przyznają zdolność prawną, a kt&oacute;ra korzysta z innych usług oferowanych poprzez stronę SERWISU INTERNETOWEGO.</li>
			<li>
				<b>KONSUMENT&nbsp;</b>- osoba fizyczna dokonującą z ADMINISTRATOREM czynności prawnej niezwiązanej bezpośrednio z jej działalnością gospodarczą - precyzyjna definicja - Kodeks Cywilny Art.22.</li>
			<li>
				<b>REGULAMIN</b>&nbsp;- niniejszy Regulamin SKLEPU INTERNETOWEGO.</li>
			<li>
				<b>NEWSLETTER</b>&nbsp;- usługa świadczona drogą elektroniczną przez ADMINISTRATORA, polegająca na rozsyłaniu zainteresowanym informacji handlowych i reklamowych na podany przez zainteresowanego adres e-mail.</li>
		</ol>
		<h3>
			B. Postanowienia og&oacute;lne.</h3>
		<ol>
			<li>
				Strona ma charakter informacyjny o usługach i produktach oferowanych przez firmę. Za pośrednictwem strony www nie można zawrzeć transakcji (składać zam&oacute;wienia, dokonać zakupu itp.)</li>
			<li>
				Opisane produkty i informacje zawarte na stronie&nbsp;<a href="http://www.sciezkidozdrowia.pl/" target="_blank">www.sciezkidozdrowia.pl</a>&nbsp;nie są przeznaczone do leczenia, diagnozowania lub zapobiegania chorobom. Należy skonsultować się ze specjalistą przed zastosowaniem suplementu diety. Materiały zawarte na stronie&nbsp;<a href="http://www.sciezkidozdrowia.pl/" target="_blank">www.sciezkidozdrowia.pl</a>&nbsp;mają charakter wyłącznie informacyjny. Metody postępowania w doborze sposobu odżywiania, oczyszczania i zabezpieczania organizmu oraz suplementacji, należy skonsultować z dietetykiem lub lekarzem medycyny naturalnej.</li>
			<li>
				Użytkownik zobowiązany jest do wprowadzania danych do systemu zgodnych ze stanem faktycznym, zgodnych z prawem i dobrymi obyczajami. Udostępniane dane nie mogą naruszać d&oacute;br osobistych ani praw własności os&oacute;b trzecich.</li>
		</ol>
		<h3>
			J. Usługi elektroniczne i warunki techniczne korzystania ze strony www</h3>
		<ol>
			<li>
				ADMINISTRATOR - w celu umożliwienia korzystania ze strony www świadczy poprzez stronę WWW serwisu internetowego usługi:
				<ul>
					<li>
						utworzenie i administrowanie konta Użytkownika;</li>
					<li>
						za zgodą Użytkownika - przesyłanie informacji handlowych, ofert promocyjnych itp. w formie usługi &quot;newsletter&quot;.</li>
				</ul>
			</li>
			<li>
				Świadczenie usług elektronicznych w w/w zakresie jest bezpłatne.</li>
			<li>
				Umowa o świadczenie usługi elektronicznej polegającej na prowadzeniu i administrowaniu Konta Użytkownika na STRONIE zawierana jest na czas nieoznaczony. Za moment zawarcia uznaje się zakończenie procesu rejestracji na STRONIE.</li>
			<li>
				Usługa &quot;newsletter&quot; zawierana jest na czas nieokreślony. Umowa jest zawierana w momencie wyrażenia zgody na rozsyłanie wiadomości na adres Użytkownika podany przy rejestracji.</li>
			<li>
				KONSUMENT może odstąpić od umowy o świadczenie usługi bez podania przyczyn w terminie 14 dni od zawarcia umowy - z wyjątkiem gdy świadczenie usługi rozpocznie się przed upływem tego terminu za zgodą KONSUMENTA - składając przedsiębiorcy oświadczenie o odstąpieniu od umowy:
				<ul>
					<li>
						za pomocą elektronicznego wzoru formularza odstąpienia od umowy (Załącznik do REGULAMINU),</li>
					<li>
						przez złożenie oświadczenia na stronie internetowej,</li>
					<li>
						w formie wiadomości e-mail lub pisemnie na adres siedziby ADMINISTRATORA)</li>
				</ul>
			</li>
			<li>
				w przypadku usługi zawartej na czas nieokreślony obu stronom przysługuje prawo do wypowiedzenia umowy:
				<ul>
					<li>
						KONSUMENT może wypowiedzieć umowę o świadczenie usług drogą elektroniczną w każdej chwili składając odpowiednie oświadczenie w formie elektronicznej lub pisemnej na adres ADMINISTRATORA. ADMINSISTRATOR niezwłocznie potwierdzi otrzymanie oświadczenia. ADMINISTRATOR w ciągu 7 dni od otrzymania wypowiedzenia usunie z danych zapisy objęte ochroną danych osobowych związane z usługą i zaprzestanie jej świadczenia.</li>
					<li>
						ADMINISTRATOR może wypowiedzieć umowę o świadczenie usług drogą elektroniczną, jeżeli KONSUMENT obiektywnie i bezprawnie rażąco narusza Regulamin - z zachowaniem terminu wypowiedzenia 30 dni licząc od dnia złożenia wypowiedzenia. Jeżeli obiema stronami umowy są przedsiębiorcy ADMINISTRATOR może w takiej sytuacji wypowiedzieć umowę o świadczenie Usługi Elektronicznej ze skutkiem natychmiastowym.</li>
					<li>
						ADMINISTRATOR i UŻYTKOWNIK mogą rozwiązać umowę o świadczenie usług drogą elektroniczną w każdym czasie w drodze porozumienia stron.</li>
				</ul>
			</li>
			<li>
				Do wsp&oacute;łpracy z systemem informatycznym ADMINISTRATORA po stronie UZYTKOWNIKA konieczny jest dostęp do komputera lub innego urządzenia umożliwiającego poprzez sieć Internetu nawiązanie komunikacji ze stroną internetową serwisu. W przypadku komputera - system winien być wyposażony w przeglądarkę internetową (przykładowo: Mozilla Firefox w wersji 11.0 lub wyższej, Internet Explorer w wersji 7.0 lub wyższej lub inne o podobnych parametrach). Zalecana rozdzielczość monitora - nie mniejsza niż: 1024x768. Urządzenia mobilne muszą być wyposażone w oprogramowanie - dostarczone przez wytw&oacute;rcę urządzenia - umożliwiające wykonywanie r&oacute;wnoważnych do w/w przeglądarek komputerowych operacji. Ponadto konieczne jest posiadanie aktywnego konta e-mail. Dla pełnego skorzystania z wszystkich funkcjonalności SERWISU konieczne jest włączenie obsługi skrypt&oacute;w JavaScript i obsługi cookies. Użycie skrypt&oacute;w i cookies omawia POLITYKA PRYWATNOŚCI umieszczona w zakładce na stronie SERWISU.</li>
		</ol>
		<h3>
			K. Przetwarzanie i ochrona danych osobowych</h3>
		<ol>
			<li>
				Administratorem Danych Osobowych Użytkownika przetwarzanych w związku z korzystaniem z SERWISU jest ADMINISTRATOR STRONY.</li>
			<li>
				Podanie danych osobowych, a także zgoda na ich przetwarzanie są całkowicie dobrowolne. Wszelkie przekazane nam dane osobowe są przetwarzane wyłącznie w zakresie i celu, na jaki Użytkownik wyraził zgodę.</li>
			<li>
				Administrator zapewnia bezpieczeństwo przekazanych danych oraz realizację uprawnień Użytkownik&oacute;w, wynikających z rozporządzenia RODO.</li>
			<li>
				Użytkownik ma prawo dostępu do treści swoich danych osobowych oraz ich sprostowania żądania ich całkowitego usunięcia lub ograniczenia prawa przetwarzania swoich danych osobowych, prawo do wniesienia sprzeciwu wobec przetwarzania - w tym celu proszę wysłać zgłoszenie (np. na podany adres e-mail) z określeniem żądania wprowadzenia zmian lub usunięcia danych z ewidencji. Użytkownik ma prawo do odwołania swojej zgody w każdym momencie.</li>
			<li>
				Użytkownik ma prawo otrzymać dane go dotyczące w ustrukturyzowanym, powszechnie używanym formacie nadającym się do odczytu maszynowego. Ma r&oacute;wnież prawo przesłać te dane innemu administratorowi, bez przeszk&oacute;d ze strony ADMINISTRATORA, od kt&oacute;rego dane będą wydobywane (art. 20 ust. 1). W przypadkach gdy jest to technicznie możliwe Użytkownik może żądać od ADMINISTRATORA przesłania jego danych bezpośrednio innemu administratorowi (art. 20 ust. 2).</li>
			<li>
				ADMINISTRATOR może odm&oacute;wić usunięcia danych Użytkownika wyłącznie w przypadkach wskazanych przez obowiązujące przepisy, w szczeg&oacute;lności jeżeli Użytkownik nie uregulował wszystkich należności wobec ADMINISTRATORA.</li>
			<li>
				ADMINISTRATR przetwarza następujące dane Użytkownika - dane podawane na zasadzie dobrowolności i udzielenia zgody:
				<ul>
					<li>
						nazwisko i imię,</li>
					<li>
						adres e-mail,</li>
					<li>
						numer telefonu kontaktowego,</li>
				</ul>
			</li>
			<li>
				Dane osobowe są przetwarzane wyłącznie przez okres niezbędny do realizacji celu, dla kt&oacute;rego zgoda była udzielona.
				<ul>
					<li>
						- dla utrzymania konta w bazie Serwisu - podstawą przetwarzania tych danych jest umowa (regulamin), kt&oacute;ry został zaakceptowany przez Użytkownika. Dane te będziemy przetwarzać tak długo dop&oacute;ki Użytkownik nie wypowie zawartej umowy;</li>
					<li>
						- dane w dokumentach sprzedaży - przez okres wymagany przepisami o księgowości;</li>
					<li>
						&nbsp;</li>
					<li>
						- adres e-mail wykorzystywany do rozsyłania biuletynu informacyjnego - przez okres ważności zgody użytkownika. Zgoda może być cofnięta w każdej chwili;</li>
					<li>
						- dane adresowe wykorzystywane do przesyłania informacji marketingowej dotyczącej usług własnych Administratora - (podstawą przetwarzania jest uzasadniony interes prawny Administratora - art. 6 ust. 1 lit. f RODO). Dane te będziemy przetwarzać tak długo, dop&oacute;ki Użytkownik nie złoży sprzeciwu wobec przetwarzania danych w tym celu.</li>
				</ul>
			</li>
			- po tym okresie są usuwane
			<li>
				Użytkownik ma prawo wnieść skargę na działania ADMINISTRATORA do Prezesa Urzędu Ochrony Danych Osobowych.</li>
		</ol>
		<h3>
			L. Postanowienia końcowe</h3>
		<ol>
			<li>
				Umowa zawierana jest w języku polskim i pod jurysdykcją prawa polskiego.</li>
			<li>
				Treść Regulaminu jest dostępna cały czas w zakładce REGULAMIN na stronie SERWISU i może być kopiowana i drukowana w każdej chwili przez Kupującego. Treść REGULAMINU może być też przesłana w każdej chwili pocztą elektroniczną lub pocztą na życzenie Użytkownika.</li>
			<li>
				W sprawach nieuregulowanych niniejszym Regulaminem zastosowanie będą miały właściwe przepisy prawa, w szczeg&oacute;lności:</li>
			<li>
				Ustawa z dnia 23 kwietnia 1964 r. Kodeks Cywilny (Dz.U. 1964 nr 16 poz. 93 ze zm.);</li>
			<li>
				Ustawa z dnia 10 maja 2018 r o ochronie danych osobowych (Dz.U. z 24 maja 2018 poz. 1000 )</li>
			<li>
				Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony os&oacute;b fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (og&oacute;lne rozporządzenie o ochronie danych) &ndash; zwane dalej RODO oraz o przepisy powiązane.</li>
			<li>
				Ustawa z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz.U. 2013 poz. 1422);</li>
			<li>
				Ustawa z dnia 30 czerwca 2000 r. prawo własności przemysłowej (Dz.U. 2001 Nr 49 poz. 508 ze zm.);</li>
			<li>
				Ustawa z dnia 4 lutego 1994 r. o prawie autorskim i prawach pokrewnych (Dz.U. 2006 Nr 90 poz. 631 ze zm.),</li>
			<li>
				Ustawa z dnia 30 maja 2014 r. o prawach KONSUMENTA (Dz. U. 2014, poz. 827)</li>
			<li>
				Wszystkie nazwy PRODUKT&Oacute;W opisywanych na stronie SERWISU są używane w celach identyfikacji i mogą być chronione i zastrzeżone na podstawie przepis&oacute;w ustawy prawo własności przemysłowej (Dz.U. 2001 nr 49 poz. 5081 ze zm.).</li>
			<li>
				Wszystkie zdjęcia zamieszczone na STRONIE INTERNETOWEJ chronione są na podstawie ustawy z dnia 4 lutego 1994 r. o prawie autorskim i prawach pokrewnych &ndash; (Dz.U. 1994 Nr 24 poz. 83 ze zm.) - posiadają tw&oacute;rczy i indywidualny charakter. Nie można ich kopiować bez zgody Administratora Strony Internetowej.</li>
			<li>
				W przypadku spor&oacute;w związanych z realizacją zawartej umowy strony będą dążyły do rozwiązania sporu na drodze postępowania polubownego pozasądowego - w tym do rozwiązania sporu przed mediatorem. W przypadku braku rozstrzygnięcia sporu na drodze polubownej sądem właściwym do rozstrzygnięcia sporu będzie Sąd Powszechny.</li>
			<li>
				Wykonując obowiązek wskazania pozasądowych sposob&oacute;w rozpatrywania reklamacji i dochodzenia roszczeń oraz zasadach dostępu do tych procedur, niniejszym informujemy, że aktualne informacje w tym zakresie są udostępniane na stronie:&nbsp;<a href="http://prawakonsumenta.uokik.gov.pl/" target="_blank">http://prawaKONSUMENTA.uokik.<wbr />gov.pl</a>. Konsumenci i przedsiębiorcy mogą wykorzystać do polubownego rozstrzygania spor&oacute;w powołaną przez Komisję Europejską internetową platformę ODR. Platforma jest dostępna pod adresem:&nbsp;<a href="http://ec.europa.eu/consumers/odr/" target="_blank">http://ec.europa.eu/consumers/<wbr />odr/</a>. UOKIK prowadzi rejestr podmiot&oacute;w uprawnionych do pozasądowego rozwiązywania spor&oacute;w konsumenckich pod adresem&nbsp;<a href="https://www.uokik.gov.pl/rejestr_podmiot_uprawnionych.php" target="_blank">https://www.uokik.gov.pl/<wbr />rejestr_podmiot_uprawnionych.<wbr />php</a>.</li>
		</ol>
</div>

{% endblock %}