{% extends 'base.html' %}

{% block content %}
    <div class="container text-center" style="margin-top: 150px;">
        <h2>{{ header }}</h2>
        <p>Za chwilę zostaniesz przeniesiony na stronę główną.</p>
    </div>
{% endblock %}

{% block extra_js %}
<script>
    function redirect(){
       window.location.href = '{{ url }}';
    }

    setTimeout(redirect, 3000);
</script>
{% endblock %}