{% extends 'base.html' %}

{% block content %}
    <div class="container text-center" style="margin-top: 150px;">
        <h2>Dziękujemy za zarezerwowanie biletów</h2>
        <p>Szczegóły rezerwacji otrzymasz w wiadomości e-mail.</p>
        <p>Za chwilę zostaniesz przeniesiony na stronę wydarzeń.</p>
    </div>
{% endblock %}

{% block extra_js %}
<script>
    function redirect(){
       window.location.href = "{% url 'news:list' %}";
    }

    setTimeout(redirect, 5500);
</script>
{% endblock %}