{% extends 'base.html' %}
{% load customuser_tags %}

{% block head_title %}
    Artykuły - {{ block.super }}
{% endblock %}

<br><br>

{% block content %}
<br><br>
{% block extra_content %}
{% endblock %}
<div class="container" style="margin-top:50px; margin-bottom:200px; justify-content: center;" id="products">
    <div class="row">

        {% for obj in object_list|order_by:dict_sort %}
        <div class="col-md-4 cell text-center" {% if obj.category %}data-category="{{ obj.category.slug }}"{% endif %}>
            <a href="{{ obj.get_absolute_url }}" style="display: flex; flex-direction: column" class="hvr-glow">
                <img class="img-fluid wow fadeIn" style="margin-right: auto; margin-left: auto;" src="{{ obj.img.url }}"
                 width="220" height="220">
                <h1 class=" wow fadeIn">{{ obj.name }}</h1>
                {% if show %}<h3 class=" wow fadeIn" style="flex-grow: 1;">{{ obj|get_attribute:show|truncatewords:6|safe }}</h3>{% endif %}
                <span  class=" wow fadeIn">Zobacz więcej</span>
            </a>
        </div>
    
        {% empty %}
        <p>puste!!!</p>

        {% endfor %}
    </div>
</div>
{% endblock %}