{% load static %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>


<div class="row" style="width: 600px;">
    <div class="col" id="{{widget.name}}-available_options" style="overflow-y: scroll; max-height: 200px; border: 1px black;">
        {% for option in widget.available_options %}
            <div class="option" data-option-id="{{option.id}}">{{option.name}}</div>
        {% endfor %}
    </div>
    <div class="col" id="{{widget.name}}-selected_options" style="overflow-y: scroll; max-height: 200px; border: 1px black;">
        {% for option in widget.selected_options %}
            <div class="option" data-option-id="{{option.id}}">{{option.name}}</div>
        {% endfor %}
    </div>
</div>   

<link rel="stylesheet" href="{% static 'css/shared_list.css' %}" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<input name="{{ widget.name }}" type="hidden" id="{{widget.name}}-options_id_list"/>

<script>
    new Sortable(document.getElementById('{{widget.name}}' + '-' + 'available_options'), {
        group: 'shared', // set both lists to same group
        animation: 150
    });

    new Sortable(document.getElementById('{{widget.name}}' + '-' + 'selected_options'), {
        group: 'shared',
        animation: 150
    });

    function get_options_id_list(field_name){
        const available_options = document.getElementById(field_name + '-' + 'available_options')
        const selected_options = document.getElementById(field_name + '-' + 'selected_options')
        const options_id_list = document.getElementById(field_name + '-' + 'options_id_list')
        
        var result = []
        for (var i = 0; i < selected_options.childElementCount; i++){
            var option = selected_options.children.item(i)
            var option_id = option.dataset.optionId
            result.push(option_id)
        }
        options_id_list.value = result
    }
    document.getElementById('{{widget.name}}' + '-' + 'selected_options').ondrop = function(){get_options_id_list('{{widget.name}}');}
    document.addEventListener('DOMContentLoaded', function(){ 
        get_options_id_list('{{widget.name}}')
    }, false);

</script>
