{% extends 'base.html' %} {% block head_title %}Kontakt - {{ block.super }}{% endblock %} {% load static %} {% block content %}<br />
{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/all.css' %}" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<link href="{% static 'css/contact.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/expandCollapse.js' %}"></script><style>@media print {#ghostery-tracker-tally {display:none !important}}</style>
{% endblock %}

<br />
<br />
<br />

<div id="desktop_header" style='background-image: url({% static "css/contact-bg.png" %})'>
    <div class="row">
      <div class="col-lg-8 offset-lg-4">
        <h2>Zadzwoń do nas<br>i zacznij się odżywiać <br>w zgodzie z naturą</h2>
      </div>
    </div>
</div>


<div class="content-wrap container-fluid">
  <div class="row">
    <div class="col-12 col-lg-4" id="address_content" >
        <div>
            <h3>Adres do korespondencji</h3>
            <p>Ścieżki Zdrowia Sp. z o.o.<br>
            ul. B. Limanowskiego 5/4<br>
            33-100 Tarnów
            </p>
        </div>   
        <div id="second_address">
          <h3>Dane 
            kontaktowe
            </h3>
          <p>Marta Mularska<br>
            m: +48 608 683 570<br>
            <a href="mailto:sciezkizdrowia@gmail.com">sciezkizdrowia@gmail.com</a>
          </p>
      </div>            


    </div>
    <div class="col-12 col-lg-8" id="form_content">
        <div id="form_wrapper">
          <h3>wyślij wiadomość</h3>

            <form  role="form" action="" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">             
                        {{ form.contact_name.errors }}
                        <label for="{{ form.contact_name.id_for_label }}">Twoje imię*</label>
                        {{ form.contact_name }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.contact_email.errors }}
                        <label for="{{ form.contact_email.id_for_label }}">Twój email*</label>
                        {{ form.contact_email }}
                    </div>
                </div>
            
                <div class="form-group">
                    {{ form.content.errors }}
                    <label for="{{ form.content.id_for_label }}">Wiadomość*</label>
                    {{ form.content }}
                </div>

                <div class="form-row captcha_submit_row">
                    <div class="form-group col-md-6 captcha-container">
                        {{ form.captcha.errors }}
                        {{ form.captcha }}
                    </div>
                    <div class="form-group col-md-6 btn-container">
                        <button type="submit" class="btn " id="zatwierdz" disabled>Wyślij</button>
                    </div>
                </div>
            </form>
            <script>
              function enableBtn() {
                  document.getElementById("zatwierdz").disabled = false;
              }
          </script>
        </div>
      </div>
  </div>

</div>



<!-- NEW CONTENT END -->


{% endblock %}
