<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
  {% for lp in landing_pages %}
    <li data-target="#carouselExampleIndicators" data-slide-to="{{  forloop.counter0 }}" class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
  {% endfor %}
  </ol>

  <div class="carousel-inner">
    {% for lp in landing_pages %}
    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
    <a href='{{ lp.get_absolute_url }}'>
	    <img class="d-block w-100" src="{{ lp.promo_image.url }}" alt="First no. {{ forloop.counter }}" >
    </a>
	<div class="carousel-caption d-none d-md-block">
    </div>
    </div>
    {% endfor %}
  </div>

</div>
