{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - opinia{% endblock %}

{% block meta_tags %}
    {{ block.super }}
    <meta property="og:title" content="{{ news.name }}" />
    <meta property="og:description" content="{{ news.description|truncatewords:6|striptags|safe }}" />

{% endblock %}

{% block content %}
<div class="container" style="margin-top:150px">
	<div class="row">


			<div class="col-xs-12 col-sm-12 col-md-11 col-lg-11" >
				<blockquote class="blockquote wow fadeIn" >
                  <h1 class="text-center">{{ news.name }}</h1>
                    <p class="mb-0">{{ news.description|safe }}</p>
				  <a href="{% url 'home:list' %}" class="see_more">Powrót</a>
				</blockquote>


	</div>
    </div>
</div>
{% endblock %}
