{% extends 'base.html' %}


{% block head_title %}Oczyszczanie organizmu - {{ block.super }}{% endblock %}
{% block meta_tags %}
    <meta property="og:site_name" content="Ścieżki zdrowia - oczyszczanie układu pokarmowego, dieta oczyszczająca" />
    <meta property="og:title" content="Ścieżki zdrowia - oczyszczanie układu pokarmowego, dieta oczyszczająca" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Ścieżki Zdrowia to zespół dietetyków i trenerów zdrowia którzy zajmują się oczyszczaniem organizmu z toksyn a także pomogą zastosować Ci skuteczną dietę oczyszczającą." />
    <meta property="og:url" content="http://www.sciezkidozdrowia.pl/" />
    <meta name="description" content="Ścieżki Zdrowia to zespół dietetyków i trenerów zdrowia którzy zajmują się oczyszczaniem organizmu z toksyn a także pomogą zastosować Ci skuteczną dietę oczyszczającą." />
{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
{% endblock %}

{% block content %}
<div class="container-fluid" style="max-height: 450px; margin-top: 87px;">
{% if landing_pages %}
    {% include 'opinions/landingpage_list.html' with landing_pages=landing_pages %}
{% endif %}
</div>
    <!-- slide 1 start --->
<div class="container-fluid" style="height:80%; background-image:url('/media/strona/pexels-photo-326279.jpg');  background-size:     cover;   background-repeat:   no-repeat;
    background-position: center top; ">
    <div class="container" style="height:100%">
        <div class="row" style="height:100%">

            <div class="col-md-6" style="
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;
            height: 100%;"	 >
                <div>
                    <h2  class="wow fadeIn">Ścieżka zdrowia</h2>
                    <h2  class="wow fadeIn">zacznij podróż od zdrowej diety</h2>
                    <a href="#intro_text" class="btn btn-light wow fadeIn">Zobacz więcej</a>
                </div>
            </div>

            {% if event_list %}
            <div class="offset-lg-2 col-lg-4 text-center" style="    display: -ms-flexbox;
display: -webkit-flex;    display: flex;    -ms-flex-align: center;    -webkit-align-items: center;
-webkit-box-align: center;    align-items: center;    height: 100%;"	 >
                <div id="news-list" class="row text-center" style="max-height: 100%; background-color: #e6e6e6; padding: 20px 20px 20px 20px">
                    {% for event in event_list %}
                        <div class="col-12">
                        <a style="margin: -7px 0 -7px 0;" class="see_more"
                           href="{{ event.get_absolute_url }}">
                        <h3>{{ event.event_date }} - {{ event.city }}</h3></a>
                        <h6>{{ event.name }}</h6>
                        <h6>{{ event.speaker }}</h6>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>

<!-- slide 1 end  --->



<!-- content 1 start -->
<div class="container" >

    <div class="row">
     <div id="news-list-sm" class="col-12 text-center" style="max-height: 100%; padding: 20px 20px 20px 20px">
        <h1 class="wow fadeIn divider">Wydarzenia</h1><br>
         {% for event in event_list|dictsort:"event_date" %}
            <div style="margin-bottom: 10px;">
             <h3>{{ event.event_date }} - {{ event.city }}</h3>
                <h6>{{ event.speaker }}</h6>
                <h6>{{ event.name }}</h6>

                <p>{{ event.description|striptags|safe|truncatewords:20 }}</p>
                <a class="see_more" href="{{ event.get_absolute_url }}">Czytaj dalej...</a>
            </div>
        {% endfor %}
                    </div>

   </div>

	<div class="row">
        <div class="col-12 text-center" style="padding:100px 0px 60px 0px">
        <h1 class="wow fadeIn divider"> Twoja ścieżka zdrowia</h1>
        </div>

	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 text-center">
			<img class="img-fluid wow fadeIn" src="/media/strona/KROK1.svg" alt="Oczyszacznie - Krok 1" style="width:60%">
			<div class="headline_krok wow fadeIn">Nawodnienie</div>
			<div class="headline_desc wow fadeIn">
			Co dzieje się w naszym organizmie kiedy pijemy wodę o złych parametrach lub nie pijemy w ogóle? Jak spowodować żeby woda miała dobry wpływ na nasze samopoczucie? Czy Ty jesteś pewny, że pijesz odpowiednią wodę?
			</div>
		</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 text-center">
			<img class="img-fluid wow fadeIn" src="/media/strona/KROK2.svg" alt="Oczyszacznie - Krok 2" style="width:60%">
			<div class="headline_krok wow fadeIn">Oczyszczanie</div>
			<div class="headline_desc wow fadeIn">
			Dlaczego powinno się przeprowadzać oczyszczanie organizmu z toksyn? By przywrócić ciału prawidłową, naturalną funkcjonalność poszczególnych jego organów, tkanek i komórek, która jest zakłócona poprzez toksyny.
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 text-center">
			<img class="img-fluid wow fadeIn" src="/media/strona/KROK3.svg" alt="Oczyszacznie - Krok 3" style="width:60%">
			<div class="headline_krok wow fadeIn">Odżywianie</div>
			<div class="headline_desc wow fadeIn">
			Chcesz jeść zdrowo i smacznie – zacznij stosować odpowiednią dietę. Przygotujemy dla Ciebie dietę rozdzielną, dietę zasadową lub dietę oczyszczającą. Dzięki nam Odciążysz układ trawienny, pomożesz swojemu organizmowi utrzymać dobry stan zdrowia i uzyskasz żądaną wagę.
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 text-center">
			<img class="img-fluid wow fadeIn" src="/media/strona/KROK4.svg" alt="Oczyszacznie - Krok 4" style="width:60%">
			<div class="headline_krok wow fadeIn">Ochrona</div>
			<div class="headline_desc wow fadeIn">
			Po oczyszczeniu organizmu z toksyn należy zadbać o odżywianie komórkowe w celu uzupełnienia braków minerałów czy witamin, a także wyrównania i odbudowy prawidłowej flory bakteryjnej w organizmie. Sprawdź co dla Ciebie przygotowaliśmy.
			</div>
		</div>
        <div class="col-12 text-center" style="margin:60px 0px 80px 0px">
        <a href="http://sciezkidozdrowia.pl/encyklopedia/koncepcja-zdrowia/zarys-koncepcji/" class="btn  btn-666 hvr-fade  wow fadeIn" style="padding:1em 1em 1em 1em;">Koncepcja Zdrowia</a>
        </div>
    </div>



</div>

<div class="container-fluid">
    <h1 class="text-center wow fadeIn divider">{{ coop.header }}</h1>
    {{ coop.description|safe }}
</div>

<!-- content 1 end -->

<!-- slide 2 start --->

<div class="container-fluid" style="margin-top:87px; height:40%; background-image:url('/media/strona/sime-basioli-181541.jpg');  background-size:     cover;   background-repeat:   no-repeat;
    background-position: right center; ">
		<div class="container" style="height:100%">
			<div class="row" style="height:100%">

				<div class="col-md-6 top" style="    display: -ms-flexbox;
    display: -webkit-flex;    display: flex;    -ms-flex-align: center;    -webkit-align-items: center;    -webkit-box-align: center;    align-items: center;    height: 100%;"	 >
					<div  >
						<h1 >Dlaczego<br> woda?</h1>
					</div>
				</div>
			</div>

		</div>


</div>

<!-- slide 2 end  --->


<!-- content 2 start -->
<div class="container">



<div class="row " style="margin-top:80px; margin-bottom:100px; position:relative">

		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center woda"  >
			<div class="headline_krok  wow fadeIn">Dobra czy zła?</div>
			<div class="headline_desc  wow fadeIn" style="padding-bottom:20px">

			Często w dni upalne gdy raczymy się zimną wodą, wypijamy jej bardzo dużo to pod koniec dnia wydaje się nam, ze jesteśmy zmęczeni upałem a to zmęczenie jest w większości spowodowane zużyciem przez organizm energii, do ogrzania wypitej zimnej wody. Oszczędzajmy energię naszego organizmu , bo ta jest nam potrzebna do wielu bardzo ważnych procesów życiowych [...]

			</div>
			<div style="height:30px"></div>
			<div style=" position:absolute; bottom:0; left:0; right:0; width:80%; margin:auto">
				<a href="http://sciezkidozdrowia.pl/encyklopedia/nawodnienie/skutki-picia-wody-zej-jakosci/" class="btn  btn-666 wow fadeIn" style="width:100%">Skutki picia złej wody</a>
			</div>

		</div>

		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center woda"  >
			<div class="headline_krok wow fadeIn">Dlaczego warto?</div>
			<div class="headline_desc  wow fadeIn" style="padding-bottom:20px">
			Woda jest głównym źródłem energii, Możemy dostarczyć najlepsze jedzenie, dobre powietrze, dawkę ruchu, ale jeśli nie dostarczymy organizmowi wody to nasz organizm nie będzie dobrze pracował i w dłuższym okresie czasu będzie chylił się ku upadkowi. Woda wyprowadza toksyczne pozostałości z różnych części ciała, dostarczając je do wątroby i nerek [...]
			</div>
			<div style="height:30px"></div>
			<div style=" position:absolute; bottom:0; left:0; right:0; width:80%; margin:auto">
				<a href="http://sciezkidozdrowia.pl/encyklopedia/nawodnienie/dwadziescia-powodow-dla-ktorych-warto-pic-wode/" class="btn  btn-666 wow fadeIn" style="width:100%">Dlaczego warto pić dobrą wodę?</a>
			</div>
		</div>





		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center woda"  >
			<div class="headline_krok  wow fadeIn">Parametry wody</div>
			<div class="headline_desc  wow fadeIn" style="padding-bottom:20px">
			Często słyszymy stwierdzenie: „woda to woda - ważne, żeby nie była brudna”. Trudno się z tym nie zgodzić. Woda powinna być pozbawiona zanieczyszczeń, bakterii, metali ciężkich a także środków chemicznych używanych do przemysłowego uzdatniania wody. Ale to nie wszystko, ważne są też inne jej parametry, o których na co dzień nikt nikomu nie mówi [...]
			</div>

			<div style="height:30px"></div>
			<div style=" position:absolute; bottom:0; left:0; right:0; width:80%; margin:auto">
				<a href="http://sciezkidozdrowia.pl/encyklopedia/nawodnienie/Parametry-wody/" class="btn  btn-666 wow fadeIn" style="width:100%">Paramtery wody</a>
			</div>



		</div>


</div>


</div>
<!-- content 2 end -->


{% endblock %}

{% block opinions %}



     <div class="container-fluid" style="background-color:#f4f4f4; padding-bottom:100px" id="opinions">
    	<div class="container">
    		<div class="row">
    			<div class="col text-center" style="padding:60px 0px 60px 0px">
    				<h1  class="wow fadeIn divider" >Opinie</h1>
    			</div>
    		</div>

    		<div class="row">

        {% for opinion in opinion_list %}
    			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 text-center" >
    				<blockquote class="blockquote wow fadeIn" >
    				  <h3 class="">{{ opinion.name }}</h3>
    				  <p class="mb-0">  {{ opinion.description|truncatewords:50|safe }}"</p>
    				  <footer class="blockquote-footer">{{ opinion.author }}</footer>
    				  <a href="{{ opinion.get_absolute_url }}" class="see_more">Zobacz więcej</a>
    				</blockquote>
    			</div>
          {% empty %}
          <p>puste!!!</p>
          {% endfor %}



    	</div>
    </div>
</div>

<div class="footer" style="background-color: #58a314; padding: 1em 0 1em 0; font-size:10pt">
    <div class="container text-center">
        <a href="https://sciezkidozdrowia.pl/polityka-prywatnosci/" class="mr-2" style="color: white;">Polityka prywatności</a>
        <a href="https://sciezkidozdrowia.pl/zasady-korzystania/" class="ml-2" style="color: white;">Zasady korzystania</a>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#58a314",
      "text": "#ffffff"
    },
    "button": {
      "background": "#ffd600",
      "text": "#000000"
    }
  },
  "theme": "classic",
  "content": {
    "message": "Ta strona zbiera i wykorzystuje pliki cookies w celu świadczenia Państwu usług na najwyższym poziomie, w tym w sposób dostosowany do indywidualnych potrzeb. ",
    "dismiss": "Akceptuję",
    "link": "Polityka prywatności",
    "href": "https://sciezkidozdrowia.pl/polityka-prywatnosci/"
  }
})});
</script>
{% endblock %}
