{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - opinia{% endblock %}

{% block meta_tags %}
    {{ block.super }}
    <meta property="og:title" content="{{ article.name }}" />
    <meta property="og:description" content="{{ article.description|truncatewords:6|striptags|safe }}" />
    <meta property="og:image" content="http://sciezkidozdrowia.pl{{ article.img.url }}" />
{% endblock %}

{% block content %}


<!--OPINIA START -------------------->

<div class="container" style="margin-top:150px">
	<div class="row">


			<div class="col-xs-12 col-sm-12 col-md-11 col-lg-11" >
				<blockquote class="blockquote wow fadeIn" >
                  <h1 class="text-center">{{ opinion.name }}</h1>
                    <p class="mb-0">{{ opinion.description|safe }}</p>


				  <footer class="blockquote-footer">{{ opinion.author }}</footer>
				  <a href="{% url 'home:list' %}" class="see_more">Powrót</a>
				</blockquote>


	</div>
    </div>
</div>

<!--- OPINIA END -------------------->

{% endblock %}
